<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIOS UPDATE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="static/icons/css/all.css" rel="stylesheet">
    <!-- <script src='static/knockout-3.5.1.js' type='text/javascript'></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/alfg/ping.js@0.2.2/dist/ping.min.js" type="text/javascript"></script> -->
    <!-- <script src="static/ping.js" type="text/javascript"></script> -->

</head>

<style>
    ul span {
    color: green;
}
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <ul class="navbar-nav">
            <li class='nav-item'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-home"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('index') }}" target="_blank">{{rackname}} Monitor</a>
                    <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
                </div>
            </li>
            <li class='nav-item'>
                <a class="btn btn-primary btn-lg text-white"  href="" role="button">
                <i class="fas fa-upload"></i>
                </a>
            </li>
            <li class='dropdown'>
                <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Linux Cluster Monitor BIOS UPDATE MODULE
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Beta Version 1.0</a> 
                </div>
            </li>
            {% include "advancedfeatures_menu.html" %}
            {% include "documentationButton.html" %}
        </ul>
    </nav>

    <div class="jumbotron bg-infor" style="margin: 0rem; padding: 25px;" >
        <div class ="row">
            <div class="col">
                {% set action_url = "/biosupdatestart?var=" + ip %}
                <form action={{ action_url }} method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <h3>Step 3: Start BIOS updating</h3>
                        <small id="help" class="form-text text-muted">
                            Updating BIOS takes several minutes, please do not refresh this page or turn off the system during updating.
                        </small>
                    </div>
                    
                    <div class ="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="me">PreserveME</label>
                                </div>
                                <select class="custom-select" id="me" name="me" required>
                                    <option value="">Choose...</option>
                                    <option value="1" selected="selected">True</option>
                                    <option value="2">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="nvram">PreserveNVRAM</label>
                                </div>
                                <select class="custom-select" id="nvram" name="nvram" required>
                                    <option value="">Choose...</option>
                                    <option value="1" selected="selected">True</option>
                                    <option value="2">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="smbios">PreserveSMBIOS</label>
                                </div>
                                <select class="custom-select" id="smbios" name="smbios" required>
                                    <option value="">Choose...</option>
                                    <option value="1" selected="selected">True</option>
                                    <option value="2">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                                      
                    <small id="help" class="form-text text-muted">
                        True: Preserve original setting, False: Use default setting.
                    </small>                    
                    <br>
                    
                    <button id="updatestart" type="submit" class="btn btn-primary">Start BIOS Updating</button>
                    <a class="btn btn-success mr-1" href="{{ url_for('firmwareupdatestatus') }}" target="_blank">Update Status</a>
                    <small id="help" class="form-text text-muted">
                        Message will show when updating finished.
                    </small>
                </form>
            </div>
        </div>

    </div>

    {% include "footer.html" %}
    
    <script type="text/javascript">
        $("#updatestart").on("click", function() {
            $(this).addClass('disabled');
        });
        var session_auth = "{{ session_auth }}";
        window.addEventListener('beforeunload', function (e) {
            var agentForm = new FormData();
            var state = 'inactive'
            agentForm.append("session_state",state)
            agentForm.append("session_guid",session_auth)
            navigator.sendBeacon("/redfish_session_handler", agentForm);
        });
    </script>

</body>
</html>

