<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMC Event Cleaner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="static/icons/css/all.css" rel="stylesheet">
</head>
<style>
    ul span {
    color: green;
    }
    /* CSS For the terminal window, made scroll incase output is too large */
    div.scroll {
        background-color: black;
        color: chartreuse;
        width: 70%;
        padding: 10px;
        border: 2px solid greenyellow;
        font-weight: normal;
        margin-left: 0%;
        height: 500px;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 15px;
    }
    .dropright .dropdown-menu{
            width: min-content;
            height: min-content;
            text-align: center;
            margin: 0%;
    }

    /* Background contains everything that is the console */
    #background {
        position: fixed;
        background-color: black;
        width: 800px;
        height: 350px;
        max-height: 600px;
        text-align: left;
    }
    /* Console output formatting */
    pre {
        color: rgb(255, 255, 255);
        margin: 0px 0px 0px 0px;
    }
    /* More console input formatting to make input box larger */
    input#textinput {
        width: 950px;
    }
    /* CSS classes for key word highlighting in the console output */
    .error{
        color:red;
    }
    .ok{
        color:chartreuse;
    }
    .info{
        color:aqua;
    }
    .ip{
        color:#FF00FF;
        font-weight:bold;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <ul class="navbar-nav">
            <li class='nav-item'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-home"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
                    {% for url in frontend_urls %}
                    <a class="dropdown-item" href="{{ url[1] }}" target="_blank"> {{url[0]}} Monitor</a>
                    {% endfor %}
                </div>
            </li>
            <li class='dropdown'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-eraser"></i>
                </button>
                <div class="dropdown-menu dropright" aria-labelledby="dropdownMenuButton">
                    {% for url in frontend_urls %}
                    <a class="dropdown-item" href="{{ url[1] }}/bmceventcleanerupload" target="_blank"> {{url[0]}} BMC Event Cleaner</a>
                    {% endfor %}
                </div>
            </li>
            <li class='dropdown'>
                <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Linux Cluster Monitor BMC Event Cleaner
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Beta Version 1.0</a> 
                </div>
            </li>
            <li class='dropdown' id="display_ips">
                <a class="btn btn-primary btn-lg mr-1 text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="display_ips">
                Current Selected IPs
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    {% for ip, indicator in data %}
                    {% if indicator == 1 %}
                    <a class="dropdown-item text-success font-weight-bold" id="{{ip}}">{{ ip }}</a>
                    {% else %}
                    <a class="dropdown-item" id="{{ip}}">{{ ip }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% include "advancedfeatures_menu.html" %}      
            {% include "documentationButton.html" %}
        </ul>
    </nav>
    <div class="jumbotron bg-infor" style="margin: 0rem; padding: 25px;" >
        <div class ="row">
         <div class="col auto">
            <div class ="row">
                <div class="col">
                <form id = "fileform">
                    <div class="form-group">
                        <h3>Step 1: Config Input IPs</h3>
                        <br>
                        <h4>Option 1: Upload a text file of the BMC IPs</h4>
                        <label>Choose your text file</label>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="file" id="file" required> 
                            <small id="help" class="form-text text-muted">Please upload a text file of <u>VALID</u> BMC IPs, one IP per line
                            </small>
                            <output id="list"></output>
                        </div>
                    </div>
                <a id="uploadbutton" class="btn btn-primary text-white disabled"  onclick="uploadFile()">UPLOAD FILE</a>                                        
                <small id="help0" class="form-text text-muted">File will be uploaded into local server.</small>
                </form>
                </div>
            </div>
            <br>    
            <div class ="row">
                <div class="col">
                <form id = "inputform">
                    <div class="form-group">
                        <h4>Option 2: Input IPs</h4>
                        <label>Input IP range</label>
                            <div class ="row">
                            <div class="col-auto">
                            <input class="form-control" type="text" name ="ipstart" id="ipstart" placeholder="IP starts from (Included)">
                            </div>
                            <div class="col-auto">
                            <input class="form-control" type="text" name ="ipend" id="ipend" placeholder="IP ends (Not included)">
                            </div>
                            <input type="hidden" id="ip" name="ip" value="all">
                            <input type="hidden" id="inputtype" name="inputtype" value="bmceventcleanerip">
                            <input type="hidden" id="iptype" name="iptype" value="ipmi">                            
                            </div>
                    </div>      
                <a id="uploadRange"class="btn btn-primary text-white" name="uploadRange" onclick="uploadIPs()">SELECT RANGE</a>                                        
                <a id="uploadall" class="btn btn-primary text-white" name="uploadall" onclick="uploadallIPs()">SELECT ALL</a>  
                <a id="unselectall" class="btn btn-warning text-white disabled" name="unselectall" onclick="CallIPCleaner()">UNSELECT ALL</a>                     
                <small id="help1" class="form-text text-muted">Input file will be created with selected range or all IPs.</small>
                </form>
                </div>
            </div>
        </div>
        <div class="col auto">
            Terminal Output :
            <div class="col-auto scroll" id = "upload_terminal">
            </div>
        </div>
        </div> 
        <hr>
        
        <div class ="row">
            <div class="col">  
                <form  id = "fileform">
                    <h3>Step 2: Run the cleaner</h3>
                    <small id="help" class="form-text text-muted">
                        Selecting "RUN CLEANER" will clean the BMC events for all the BMC IPs listed in the text file.
                    </small>
                    <br>
                </form>
                <button id="runcleanerbutton"  onclick="callCleaner()" class="btn btn-danger">RUN CLEANER</button>
            </div>
        </div>       
    </div>
    {% include "footer.html" %}  
    <script type="text/javascript">
        var terminal = document.getElementById('upload_terminal'); //// terminal window to insert output
        var cleaner = document.getElementById('runcleanerbutton'); /// Run cleaner button to disable and enable
        var unselectButton = document.getElementById('unselectall');
        var reError = /\b(Failed|FAILED|failed|ERROR|Error|error|Invalid|INVALID|no|NO|Overflow|false|No|Not\sAvailable)\b/g;
        var reSuccess = /\b(Successfully|successfully|SUCCESSFULLY|OK|ok|Ok|oK|true|TRUE|True|Response|SUCCESS|Success|success)\b/g;
        var reInfo = /\b(Information|information|INFO|info)\b/g;
        var reIP = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/g;
        document.addEventListener('DOMContentLoaded', function() { //// On page load check system for ip file and update Current Selected IPs
            $.CheckIPMIs();
        }, false);
        function callCleaner(){ ////Function to call AJAX bmc_cleaner function
            terminal.innerHTML = "";
            addLine('Initiating BMC Event Cleaner..... good luck');
            $.RunCleaner();
        }
        $.RunCleaner = function(){
            $.ajax({
                url: '/bmceventcleanerstart', //// Url name for the event cleaner in app.py
                dataType : "JSON", /// Server list of ips cleaned in JSON datatype {0: bmc_ip}
                type : "GET",
                success: function(result){
                    var data = result;
                    events_cleaned = false; /// Check if event
                    for(var key in data){
                        if (key == "ERROR"){ ///Check if key is ERROR {"ERROR": Error message}
                            addLine('BMC Event Cleaner Error');
                            addLine('Server Message: ' + data[key]);
                        }
                        else{
                            addLine(data[key] + ': Events cleaned');
                            events_cleaned = true;
                        }
                    }
                    if (events_cleaned == true){
                        addLine('IP File deleted');
                        $.CheckIPMIs(); ///Check file again to deselect the ip in  the Current Selected IPS
                    }
                }
            });
        }
        function uploadIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var ipstart = document.getElementById('inputform')['ipstart'].value;
            var ipend = document.getElementById('inputform')['ipend'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            terminal.innerHTML = ""
            addLine('Getting IP Range from ' + ipstart + ' to ' + ipend);
            $.CallAdvancedInputGenerator(ipstart,ipend,inputtype,iptype);
        }
        $.CallAdvancedInputGenerator = function(ipstart, ipend,inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {ipstart: ipstart, ipend: ipend, inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            cleaner.disabled = true;
                            addLine('Could not get range from server...');
                            addLine('Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                            addLine(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates succesful execution of the Generator. Report to terminal
                        addLine('Gettting IP range from server....');
                        $.CheckIPMIs();
                    }
                }        
            }); 
        }
        function uploadallIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            terminal.innerHTML = "";
            addLine('Selecting all the IPs ...');
            $.CallAdvancedAllGenerator(inputtype,iptype);
        }
        $.CallAdvancedAllGenerator = function(inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_all_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            cleaner.disabled = true;
                            addLine('Could not generate the file...');
                            addLine('Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                            addLine(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates succesful execution of the Generator. Report to terminal
                        addLine('Getting IP range from server...');
                        $.CheckIPMIs();
                    }
                }        
            }); 
        }          
        function uploadFile(){
            terminal.innerHTML = ""
            var file_name = document.getElementById("file").files[0]['name']; ///Upload file from the form element 'file'
            addLine('Uploading ' + file_name + ' to server...');
            $.UploadFiletoServer();
        }
        $.CheckIPMIs = function(){ /// CheckIPMI function, return all bmc_ips managed in the RACK. in the form of {bmc_ip: true/false}. True/false depending on the IP file read.
            $.ajax({
                url: '/checkSelectedIPs?filetype=bmceventcleanerip&iptype=ipmi',
                dataType : "JSON",
                type : "GET",
                success: function(result){
                    var data = result;
                    var hasIPs = false;
                    addLine('Reading file with selected IPs');
                    for (var key in data){ //// Parse through json and update the IPs in the Current Selected dropdown menu in the nav bar
                        var ip = document.getElementById(key)
                        if (data[key] == 'true'){
                            hasIPs = true;
                            ip.classList.add("text-success");
                            ip.classList.add("font-weight-bold");
                            addLine('Selecting ' + key + '...');
                            document.getElementById("runcleanerbutton").disabled = false;
                        }
                        else{
                            ip.classList.remove("text-success");
                            ip.classList.remove("font-weight-bold");
                        }
                    }
                    if (hasIPs === false){
                        cleaner.disabled = true;
                        unselectButton.classList.add("disabled")
                        addLine('No IPs selected from this Rack');
                    }
                    else{
                        addLine('Current Selected IPs has been updated');
                        addLine('Run the cleaner when ready...');
                        ips = document.getElementById("display_ips")
                        unselectButton.classList.remove("disabled")
                        ips.classList.add("show")
                    }
                }
            });
        }
        $.UploadFiletoServer = function(){
            $.ajax({
                url: '/uploadinputipsfileforall?filetype=bmceventcleanerip&iptype=ipmi', 
                type: 'POST',
                data: new FormData($('#fileform')[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Upload Completed, file parsed successfully...');
                $.CheckIPMIs();///Once form has been uploaded and saved by server. Run the CheckIPMI ajax function to read the file from the server and update the Current Selected IPs
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.classList.add("disabled");

            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Upload Failed...');
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.classList.add("disabled");
            });
        }     
        /// Clear selected IPs function. Takes a single IP or "all" to unselect all.
        function CallIPCleaner(){
            var ip = document.getElementById('inputform')['ip'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            $.clearIPs(inputtype,ip,iptype);
        }
        $.clearIPs = function(inputtype,ip,iptype){//// Clear IP ajax function to send command and variables to server for processing
            $.ajax({
                url: '/deselectIP', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, ip: ip, iptype: iptype},
                beforeSend: function(){ 
                    terminal.innerHTML = ""
                    addLine('Modifying Selection...');
                },
                success: function(result){
                    var data = result;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key == "SUCCESS"){
                            addLine(data[key]);
                            $.CheckIPMIs(inputtype,iptype);
                        }
                        else{
                            addLine(data[key]);
                        }
                    }
                }        
            }); 
        }
        function addLine(line) {
            var line = line.replace(reError,"<span class='error'>$&</span>").replace(reSuccess,"<span class='ok'>$&</span>").replace(reInfo,"<span class='info'>$&</span>");
            var line = line.replace(reIP,"<span class='ip'>$&</span>");
            terminal.insertAdjacentHTML('beforeend',"<pre> > " +  line + "</pre>" );
        }  
        function handleFileSelect(evt) {
            var file = document.getElementById("file").files[0];
            input_field = document.getElementById('file');
            var button = document.getElementById('uploadbutton');
            if (file['name'].includes(".txt")){ //// File type must be in .txt format. This avoids erroneos output when parsing data for valid ips
                if (file) {
                    var fileChecker = true;
                    var reader = new FileReader();
                    console.log(file)
                    reader.readAsText(file, "UTF-8");
                    reader.onload = function (evt) {
                        const inputarray = evt.target.result.split("\n");
                        var output = "";
                        for(i = 0; i < inputarray.length; i++ ){
                            if (inputarray[i].split(",").length != 1) {
                                output = output + '<div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>';
                                fileChecker = false
                                continue;
                            }
                            var iparray = inputarray[i].split(",")[0];
                            if (iparray.length == 0){
                                output = output + ' <div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>'
                                fileChecker = false
                                continue;
                            }
                            else {          
                                if (ValidateIPaddress(iparray)){
                                    output = output + iparray + ' <a style="color:green">VALID IP</a><br>';
                                }
                                else {
                                    output = output + iparray + ' <a style="color:red">INVALID IP</a><br>';
                                    fileChecker = false
                                }
                            }   
                        }
                        if (fileChecker){ ////If valid ips found enable the upload button.
                            button.classList.remove("disabled");
                        }
                        else{
                            input_field.value = ''; /// If a single invalid ip, disable upload button
                            button.classList.add("disabled");
                        }
                        output = "<strong>FOUND IPMI IP:<br />" + output;
                        document.getElementById("list").innerHTML = output;
                    }
                    reader.onerror = function (evt) {
                        document.getElementById("list").innerHTML = "error reading file";
                        fileChecker = false
                        input_field.value = '';
                        button.classList.add("disabled");
                    }
                }
            }
            else{
                console.log("Wrong file type, only accept .txt");
                output = ' <div style="color:red"> File format incompatible, please upload .txt file !</div>'
                document.getElementById("list").innerHTML = output;
                fileChecker = false;
                input_field.value = '';
                button.disabled = true;
            }
        }        
        document.getElementById('file').addEventListener('change', handleFileSelect, false);
        function ValidateIPaddress(ipaddress) {
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\s?$/.test(ipaddress))
            {
                return (true);
            }
            return (false);
        }
    </script>
</body>
</html>