                            <div class="container-fluid text-center text-md-left " style="bottom:0; position:absolute; background-color: #007bff; padding: 2%; color:#ffffff">
                                <!-- Content -->
                                <p>
                                    L12 MONITOR is an easy deploy program based on Redfish and Intelligent Platform Management Interface aims to monitor the system status remotely. It includes multiple functions: real-time device status monitor, cluster hardware software summary, benchmark results reader and system report generation.       
                                </p>
                            </div>
                            <div class="container-fluid text-center text-md-center bg-dark" style="bottom:0; position:absolute;">
                                <!-- Content -->
                              <div class="text-center text-light bg-dark">Copyright &copy; 2022 
                                <a class="text-white" href="https://www.supermicro.com/"> Super Micro Computer Inc.</a>
                                All Rights Reserved
                              </div>
                            </div>