<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sensor Min/Max</title>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
    -->    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
    
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
        text-align: center;
        }
        .table td {
        text-align: center;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">

        <ul class="navbar-nav">
            <li class='nav-item'>
                <a class="btn btn-primary btn-lg text-white" href="{{ url_for('index') }}" role="button">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class='nav-item'>
                <a class="btn btn-primary btn-lg mr-1" href="{{ url_for('index') }}" role="button">Details</a>
            </li>       
            <li class="nav-item">
                <button class="btn btn-danger btn-lg text-white" onclick="self.close()">Close</button>
            </li>
            
        </ul>
    </nav>
        
        

<div class="jumbotron bg-white" style="margin: 0rem; padding: 25px;" >
    {% for header in chart_headers %}
    <h3 class ="text-black">{{ header }}</h4>
    {% endfor %}
    <br>
    <p><img src="{{ imagepath }}" height="{{ imageheight }}" width="1500"></p>
    <hr>

    <table id="obpage" class="table table-bordered table-striped" style="width:100%">
        <thead class="thead-dark" >
            <th class="align-middle" >BMC IPs</th>
			<th class="align-middle" >SERIAL No.</th>
            <th class="align-middle" >MIN READING</th>
            <th class="align-middle" >MIN DATETIME</th>
            <th class="align-middle" >MAX READING</th>
            <th class="align-middle" >MAX DATETIME</th>
            <th class="align-middle" >AVG READING</th>
            <th class="align-middle" >NUM COUNT</th>
            <th class="align-middle" >NA COUNT</th>
        </thead>
        <tbody>
            {% for bmc_ips, sn, min_vals, min_dates, max_vals, max_dates, avg_vals, good_count, zero_count in data %}
                <tr>
                <td class="align-middle font-weight-bold" ><h4>{{ bmc_ips }}</h4></td>
				<td class="align-middle font-weight-bold" ><h4>{{ sn }}</h4></td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ min_vals }}</h4></td>
                <td class="align-middle font-weight-bold text-primary" ><h4>{{ min_dates }}</h4></td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ max_vals }}</h4></td>
                <td class="align-middle font-weight-bold text-primary" ><h4>{{ max_dates }}</h4></td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ avg_vals }}</h4></td>
                <td class="align-middle font-weight-bold text-primary" ><h4>{{ good_count }}</h4></td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ zero_count }}</h4></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

	<!--
    <hr>
    <div><a id="back-link">Back to previous page</a></div>
	-->
</div>

  <footer class="page-footer font-small teal pt-4 bg-primary text-white">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">



        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold ">Introduction</h5>
        <p>LINUX CLUSTER MONITOR is an easy deploy program based on Redfish and Intelligent Platform Management Interface aims to mointor the system status on super sever remotely. It includes multiple functions: real-time device status monitor, cluster hardware software summary, benchmark results reader and system report generation.       
        </p>



  </div>
  <!-- Footer Text -->

  <!-- Copyright  class="footer-copyright text-center py-3" -->
  <div class="text-center text-light bg-dark">Copyright © 2020 
    <a class="text-white" href="https://www.supermicro.com/"> Super Micro Computer Inc.</a>
    All Rights Reserved
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script>
var element = document.getElementById('back-link');

// Provide a standard href to facilitate standard browser features such as 
//  - Hover to see link
//  - Right click and copy link
//  - Right click and open in new tab
element.setAttribute('href', document.referrer);

// We can't let the browser use the above href for navigation. If it does, 
// the browser will think that it is a regular link, and place the current 
// page on the browser history, so that if the user clicks "back" again,
// it'll actually return to this page. We need to perform a native back to
// integrate properly into the browser's history behavior
element.onclick = function() {
  history.back();
  return false;
}
</script>

</body>
</html>