<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sensor Min/Max</title>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
    -->    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>

    <!-- For pdf excel copy -->
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
        text-align: center;
        }
        .table td {
        text-align: center;
        }
        .dropdown-menu li {
            position: relative;
        }
        .dropdown-menu .dropdown-submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }
        .scrollable-menu {
            height: auto;
            max-height: 600px;
            overflow-y: auto;
        }
        .dropdown-menu > li:hover > .dropdown-submenu {
            display: block;
        }
    </style>  
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">

        <ul class="navbar-nav">
            <li class='nav-item'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-home"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('index') }}" target="_blank">{{rackname}} Monitor</a>
                    <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
                </div>
            </li>

            <div class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle btn-lg mr-1"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sensors
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item" href="{{ url_for('index') }}chart_cputemperatures/{{ bmc_ip }}" target="_self">
                      CPU Temperatures &Rang;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu scrollable-menu" role="menu">
                    {% if cpu_temps|length > 0 %}
                        {% for cpu in cpu_temps %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_cputemperatures/{{ bmc_ip }}?name={{ cpu}}" target="_self">{{cpu}}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li>
                                <span class="dropdown-item text-secondary" >no reading avaliable</span>
                            </li>                     
                    {%endif%}
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('index') }}chart_vrmtemperatures/{{ bmc_ip }}" target="_self">
                      VRM Temperatures &Rang;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu scrollable-menu" role="menu">
                    {% if vrm_temps|length > 0 %}
                        {% for vrm in vrm_temps %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_vrmtemperatures/{{ bmc_ip }}?name={{ vrm}}">{{vrm}}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li>
                                <span class="dropdown-item text-secondary" >no reading avaliable</span>
                            </li>                     
                    {%endif%}
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('index') }}chart_dimmctemperatures/{{ bmc_ip }}" target="_self">
                      DIMM Temperatures &Rang;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu scrollable-menu" role="menu"> 
                    {% if dimm_temps|length > 0 %}
                        {% for dimm in dimm_temps %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_dimmctemperatures/{{ bmc_ip }}?name={{ dimm}}">{{dimm}}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li>
                                <span class="dropdown-item text-secondary" >no reading avaliable</span>
                            </li>                     
                    {%endif%}
                    </ul>
                  </li>
                  {% if gpu_temps|length > 0 %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('index') }}chart_gputemperatures/{{ bmc_ip }}" target="_self">
                            GPU Temperatures &Rang;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                            {% for gpu in gpu_temps %}
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('index') }}chart_gputemperatures/{{ bmc_ip }}?name={{gpu}}">{{gpu}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {%endif%}
                  <li>
                    <a class="dropdown-item" href="{{ url_for('index') }}chart_othertemperatures/{{ bmc_ip }}" target="_self">
                      System Temperatures &Rang;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu scrollable-menu" role="menu">
                    {% if sys_temps|length > 0 %}
                        {% for systemps in sys_temps %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_othertemperatures/{{ bmc_ip }}?name={{ systemps}}">{{systemps}}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li>
                                <span class="dropdown-item text-secondary" >no reading avaliable</span>
                            </li>                     
                    {%endif%}
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('index') }}chart_fans/{{ bmc_ip }}"  target="_self">
                      Fans &Rang;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu scrollable-menu" role="menu">
                    {% if sensor_fans|length > 0 %}
                        {% for sys_fans in sensor_fans %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_fans/{{ bmc_ip }}?name={{ sys_fans}}">{{sys_fans}}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                            <li>
                                <span class="dropdown-item text-secondary" >no reading avaliable</span>
                            </li>                     
                    {%endif%}
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('index') }}chart_voltages/{{ bmc_ip }}"  target="_self">
                      System Voltages &Rang;
                    </a>
                    <ul class="dropdown-menu dropdown-submenu scrollable-menu" role="menu">
                        {% for sys_voltages in sensor_voltages %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_voltages/{{ bmc_ip }}?name={{ sys_voltages}}">{{sys_voltages}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                  </li>
                  <li> <a class="dropdown-item" href="{{ url_for('index') }}chart_powercontrol/{{ bmc_ip }}" target="_self">Power Consumption</a> </li>
                  <li> <a class="dropdown-item" href="{{ url_for('index') }}chart_powersuppliespower/{{ bmc_ip }}" target="_self">Power Supplies Power</a></li>
                  <li> <a class="dropdown-item" href="{{ url_for('index') }}chart_powersuppliesvoltage/{{ bmc_ip }}" target="_self">Power Supplies Voltage</a></li>
                </ul>
            </div>
            <li class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Min/Max
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_temperatures_chart/{{ bmc_ip }}" target="_self">Min/Max Temp</a>
                        {% if sensor_fans|length > 0 %}
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_fans_chart/{{ bmc_ip }}" target="_self">Min/Max Fan Speed</a>
                        {%else%}
                        <span class="dropdown-item text-secondary" >No Fan Reading</span>
                        {%endif%}
                        {% if sensor_voltages|length > 0 %}
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_voltages_chart/{{ bmc_ip }}" target="_self">Min/Max Voltages</a> 
                        {%else%}
                        <span class="dropdown-item text-secondary" >No Voltage Reading</span>
                        {%endif%}
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_power_chart/{{ bmc_ip }}" target="_self">Min/Max Power</a>     
                    </div>
            </li>
            <li class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nodes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {%if 'false' in show_names %}
                        {% for ip in ip_list %}
                            <a class="dropdown-item" href="{{ url_for('index') }}{{ chart_name }}_chart/{{ ip }}">{{ ip }}</a>
                        {% endfor %}
                    {%else%}
                        {% for ip,name in ip_list %}
                            {%if 'No Value' in name%}
                                <a class="dropdown-item" href="{{ url_for('index') }}{{ chart_name }}_chart/{{ ip }}">{{ ip }}</a>
                            {%else%}
                                <a class="dropdown-item" href="{{ url_for('index') }}{{ chart_name }}_chart/{{ ip }}">{{ name }} - {{ip}}</a>
                            {%endif%}
                        {% endfor %}   
                    {%endif%}                   
                </div>
            </li>

            <!--
            <li class="nav-item">
                <a class="btn btn-primary btn-lg text-white" href="{{ url_for('index') }}{{ chart_name }}/{{ bmc_ip }}">Raw Results</a>
            </li>
                        
            <li class="nav-item">
                <button class="btn btn-danger btn-lg text-white" onclick="self.close()">Close</button>
            </li>
            -->
        </ul>
    </nav>
        
        

<div class="jumbotron bg-white" style="margin: 0rem; padding: 25px;" >
    {% for header in chart_headers %}
    <h3 class ="text-black">{{ header }}</h4>
    {% endfor %}
    <br>
    <p><img src="{{ imagepath }}" height="{{ imageheight }}" width="1500"></p>
    <hr>

    <table id="obpage" class="table table-bordered table-striped" style="width:100%">
        <thead class="thead-dark" >
            <th class="align-middle" >SENSOR NAME</th>
            <th class="align-middle" >MIN READING</th>
            <th class="align-middle" >MIN DATETIME</th>
            <th class="align-middle" >MAX READING</th>
            <th class="align-middle" >MAX DATETIME</th>
            <th class="align-middle" >AVG READING</th>
            <th class="align-middle" >NUM COUNT</th>
            <th class="align-middle" >NA COUNT</th>
        </thead>
        <tbody>
            {% for sensorNames, min_vals, min_dates, max_vals, max_dates, avg_vals, good_count, zero_count in data %}
                <tr>
                <td class="align-middle font-weight-bold" ><h4>
                    {% if 'Temp' in sensorNames %}
                        {% if 'DIMM' in sensorNames %}
                            <a href ="{{ url_for('index') }}chart_dimmctemperatures/{{ bmc_ip }}?name={{ sensorNames}}" target="_self">{{sensorNames}}</a>
                        {% elif 'CPU' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_cputemperatures/{{ bmc_ip }}?name={{ sensorNames}}" target="_self">{{sensorNames}}</a>
                        {% elif 'GPU' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_gputemperatures/{{ bmc_ip }}?name={{ sensorNames}}" target="_self">{{sensorNames}}</a>
                        {% elif 'VRM' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_vrmtemperatures/{{ bmc_ip }}?name={{ sensorNames}}" target="_self">{{sensorNames}}</a>
                        {% else %}
                            <a href="{{ url_for('index') }}chart_othertemperatures/{{ bmc_ip }}?name={{ sensorNames}}" target="_self">{{sensorNames}}</a>
                        {% endif %} 
                    {% elif 'FAN' in sensorNames %}
                        <a href="{{ url_for('index') }}chart_fans/{{ bmc_ip }}?name={{ sensorNames}}" target="_self">{{sensorNames}}</a>
                    {% elif 'System Power' in sensorNames %}
                        <a href="{{ url_for('index') }}chart_powercontrol/{{ bmc_ip }}" target="_self">{{sensorNames}}</a>
                    {% else %}
                        <a href="{{ url_for('index') }}chart_voltages/{{ bmc_ip }}?name={{ sensorNames}}"  target="_self">{{sensorNames}}</a>
                    {% endif %}
                    </h4>
                </td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ min_vals }}</h4></td>
                <td class="align-middle font-weight-bold text-primary" >
                    <h4>
                        {% if 'Temp' in sensorNames %}
                            {% if 'DIMM' in sensorNames %}
                                <a href ="{{ url_for('index') }}chart_dimmctemperatures/{{ bmc_ip }}?t={{ min_dates}}&name={{ sensorNames}}" target="_self">{{ min_dates }}</a>
                            {% elif 'CPU' in sensorNames %}
                                <a href="{{ url_for('index') }}chart_cputemperatures/{{ bmc_ip }}?t={{ min_dates}}&name={{ sensorNames}}" target="_self">{{ min_dates }}</a>
                            {% elif 'VRM' in sensorNames %}
                                <a href="{{ url_for('index') }}chart_vrmtemperatures/{{ bmc_ip }}?t={{ min_dates}}&name={{ sensorNames}}" target="_self">{{ min_dates }}</a>
                            {% elif 'GPU' in sensorNames %}
                                <a href="{{ url_for('index') }}chart_gputemperatures/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                            {% else %}
                                <a href="{{ url_for('index') }}chart_othertemperatures/{{ bmc_ip }}?t={{ min_dates}}&name={{ sensorNames}}" target="_self">{{ min_dates }}</a>
                            {% endif %} 
                        {% elif 'FAN' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_fans/{{ bmc_ip }}?t={{ min_dates}}&name={{ sensorNames}}" target="_self">{{ min_dates }}</a>
                        {% elif 'System Power' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_powercontrol/{{ bmc_ip }}?t={{min_dates}}&name={{sensorNames}}" target="_self">{{min_dates}}</a>
                        {% else %}
                            <a href="{{ url_for('index') }}chart_voltages/{{ bmc_ip }}?t={{ min_dates}}&name={{ sensorNames}}"  target="_self">{{ min_dates }}</a>
                        {% endif %}
                    </h4>
                </td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ max_vals }}</h4></td>
                <td class="align-middle font-weight-bold text-primary ">
                    <h4>
                        {% if 'Temp' in sensorNames %}
                            {% if 'DIMM' in sensorNames %}
                                <a href ="{{ url_for('index') }}chart_dimmctemperatures/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                            {% elif 'CPU' in sensorNames %}
                                <a href="{{ url_for('index') }}chart_cputemperatures/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                            {% elif 'VRM' in sensorNames %}
                                <a href="{{ url_for('index') }}chart_vrmtemperatures/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                            {% elif 'GPU' in sensorNames %}
                                <a href="{{ url_for('index') }}chart_gputemperatures/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                            {% else %}
                                <a href="{{ url_for('index') }}chart_othertemperatures/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                            {% endif %} 
                        {% elif 'FAN' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_fans/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}" target="_self">{{ max_dates }}</a>
                        {% elif 'System Power' in sensorNames %}
                            <a href="{{ url_for('index') }}chart_powercontrol/{{ bmc_ip }}?t={{max_dates}}&name={{sensorNames}}" target="_self">{{max_dates}}</a>
                        {% else %}
                            <a href="{{ url_for('index') }}chart_voltages/{{ bmc_ip }}?t={{  max_dates }}&name={{ sensorNames}}"  target="_self">{{ max_dates }}</a>
                        {% endif %}
                    </h4>
                </td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ avg_vals }}</h4></td>
                <td class="align-middle font-weight-bold text-primary" ><h4>{{ good_count }}</h4></td>
                <td class="align-middle font-weight-bold text-success" ><h4>{{ zero_count }}</h4></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% include "footer.html" %}
<script>
    $(document).ready(function() {
        $('#obpage').DataTable( {
            "lengthMenu": [[10, 20, 40, -1], [10, 20, 40, "All"]],
            "pageLength" : -1,
            dom: "<Bfr<t><'row'<'col-md-6'l><'col-md-6'p>>>", 
            stateSave: true,
            buttons: [
                       'colvis','excel','pdf','copy','print'
            ],
        } );
    } );
    $('body .dropdown-toggle').dropdown(); 
    document.title = 'Sensor Min/Max: ' + "{{ bmc_ip }}"


    var element = document.getElementById('back-link');
    // Provide a standard href to facilitate standard browser features such as 
    //  - Hover to see link
    //  - Right click and copy link
    //  - Right click and open in new tab
    //element.setAttribute('href', document.referrer);

    // We can't let the browser use the above href for navigation. If it does, 
    // the browser will think that it is a regular link, and place the current 
    // page on the browser history, so that if the user clicks "back" again,
    // it'll actually return to this page. We need to perform a native back to
    // integrate properly into the browser's history behavior
</script>

</body>
</html>