<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="300"> -->
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redfish Program</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    
    <!-- For pdf excel copy -->
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
    
    
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
        text-align: center;
        }
        .table td {
        text-align: center;
        vertical-align:middle;
        }
        .dropdown-menu li {
          position: relative;
        }
        .dropdown-submenu {
            display: none;
            position: absolute;
            right: 100%;
            top: -7px;
        }
        .dropright .dropdown-menu{
            width: min-content;
            height: min-content;
            text-align: center;
            margin: 0%;
        }
        .dropdown-menu{
            min-width: 0rem;
        }
        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-y: auto;
        }
        .dropdown-menu > li:hover > .dropdown-submenu {
            display: block;
        }
        body {
            padding-bottom: 300px;
        }

        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 40%;
        }

        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
<ul class="navbar-nav">

    <li class='nav-item'>
        <a class="btn btn-primary btn-lg text-white"  href="{{ rackobserverurl }}" role="button">
        <i class="fas fa-tv"></i>
        </a>
    </li>
    <li class='dropdown'>
        <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        L12 Cluster Monitor
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Beta Version: 1.1</a>
            <a class="dropdown-item">Supported BMC Versions: 01.71, 1.76.10, 3.72.02</a>
        </div>
    </li>
    <li class='nav-item'>
        <a class="btn btn-primary btn-lg mr-1" href="{{ url_for('index') }}" role="button" target="_blank">{{ rackname }}</a>
    </li>
    {% include "advancedfeatures_menu.html" %}
    {% include "documentationButton.html" %}
<!--
    <li class='dropdown'>
        <button class="btn pull-right btn-primary btn-lg mr-1 text-white" type="button" id="clock" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">This is the local time of docker container.</a> 
            </div>
    </li>
-->
    <li class='dropdown'>
        <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="clockstopper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ cur_time }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item">Container TimeZone: {{time_zone}}</a>
        </div>
    </li>

</ul>
</nav>
<div class="jumbotron bg-infor" style="margin: 0rem; padding-top: 10px; padding-right: 5px; padding-left: 5px; padding-bottom: 10px;" >
<table id="indexpage" class="table table-bordered table-striped" style="width:100%">
    <thead class="thead-dark" >
        <th class="align-middle" >ID</th>
        {%if 'false' in show_names %}
            <th class="align-middle" >IKVM</th>
        {%else%}
            <th class="align-middle" >Name</th>
            <th class="align-middle" >IKVM</th>
        {%endif%}
        <th class="align-middle" >OS IP</th>
        <th class="align-middle" >IPMI PWD</th>
        <th class="align-middle" >BMC MAC Address</th>
        <th class="align-middle" >Hostname</th>
        <th class="align-middle" >System Model #</th>
        <th class="align-middle" >System Serial #</th>
        <th class="align-middle" >BIOS Version</th>
        <th class="align-middle" >BMC Version</th>
        <th class="align-middle" >CPLD Version</th>
        <th class="align-middle" >DATETIME</th>
        <th class="align-middle" >BMC Status</th>
        <th class="align-middle" >Status</th>
        <th class="align-middle" >UDP Message</th>
        <th class="align-middle" >UID</th>
        <th class="align-middle" >Details</th>
        <th class="align-middle" >Sensors</th>
        <th class="align-middle" >Min/Max</th>
    </thead>
    <tbody>
        {% for row in x %}
            <tr>
            <td class="col col-auto">{{ loop.index }}</td>
            {% if 'false' in show_names%}
                <td class="align-middle">
                    <div class="dropdown dropright">  
                        <a class="font-weight-bold"  href="" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{row[0]}}
                        </a>
                        <u1 class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="right-start" style="right:0px" >
                            <li>
                            <a class="dropdown-item align-middle font-weight-bold" href="https://{{ row[0] }}" target="_blank">IPMI</a>
                            </li>
                            <li>
                            <a class="dropdown-item align-middle font-weight-bold" href="javascript:void(0)" onclick="get_ikvm('{{row[0]}}')"> IKVM </a>    
                            </li>
                        </u1>
                    </div>
                </td>
                <!-- <td class="align-middle font-weight-bold">
                    <a href="javascript:void(0)" onclick="get_ikvm('{{row[0]}}')">{{ row[0] }}</a>
                </td> -->
            {%else%}
                <td class="align-middle font-weight-bold" >{{ row[16] }}</td>
                <td class="align-middle">
                    <div class="dropdown dropright">  
                        <a class="font-weight-bold"  href="" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            {{row[0]}}
                        </a>
                        <u1 class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="right-start" style="right:0px" >
                            <li>
                            <a class="dropdown-item align-middle font-weight-bold" href="https://{{ row[0] }}" target="_blank">IPMI</a>
                            </li>
                            <li>
                            <a class="dropdown-item align-middle font-weight-bold" href="javascript:void(0)" onclick="get_ikvm('{{row[0]}}')"> IKVM </a>    
                            </li>
                        </u1>
                    </div>
                </td>
            {%endif%}
            <td class="align-middle font-weight-bold text-info" >{{ row[12] }}</td>
            <td class="align-middle font-weight-bold text-success" >{{ row[10] }}</td>
            <td class="align-middle font-weight-bold" >{{ row[1] }}</td>
            <td class="align-middle font-weight-bold" >{{ row[13] }}</td>
            <td class="align-middle font-weight-bold" id="{{row[0]}}model">{{ row[2] }}</td>
            <td class="align-middle font-weight-bold" id="{{row[0]}}serial">{{ row[3] }}</td> 
            <td class="align-middle font-weight-bold" id="{{row[0]}}biosversion">{{ row[4] }}</td>
            <td class="align-middle font-weight-bold" id="{{row[0]}}bmcversion">{{ row[5] }}</td>
            <td class="align-middle font-weight-bold" id="{{row[0]}}cpldversion">{{ row[15] }}</td>
            <td class="align-middle font-weight-bold" id="{{row[0]}}datetime">{{ row[7] }}</td>
            <td style="text-align:center">
                <div class="dropdown">
                    {% if row[6] == "OK" %}
                    <button class="btn btn-success btn-small btn-block font-weight-bold" type="button" id="{{row[0]}}eventButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ row[6] }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="{{row[0]}}eventSubmenu">
                        <a class="dropdown-item">Everything is good, no event reported!</a> 
                        <a class="dropdown-item text-info text-center" href="{{ url_for('event') }}?var={{row[0]}}" id="{{row[0]}}event_link" target="_blank"><u>Check History</u></a>                        
                    </div>
                    {% elif row[6] == "WARNING" %}
                    <button class="btn btn-warning btn-small btn-block font-weight-bold text-white" type="button" id="{{row[0]}}eventButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ row[6] }} <span class="badge font-weight-bold text-white" style="background-color:#ffa31a">{{ row[8]|length }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="{{row[0]}}eventSubmenu">
                        {% for n in range(5) if row[8][n] %}
                            <a class="dropdown-item">{{ row[8][n] }}</a>
                        {% endfor %}
                        {% if row[8]|length > 5 %}
                        <a class="dropdown-item text-info text-center" href="{{ url_for('event') }}?var={{row[0]}}" id="{{row[0]}}event_link" target="_blank"><u>More Events</u></a>
                        {% else %}
                        <a class="dropdown-item text-info text-center" href="{{ url_for('event') }}?var={{row[0]}}" id="{{row[0]}}event_link" target="_blank"><u>Click for Details</u></a>
                        {% endif %}
                    </div>
                    {% else %}
                    <button class="btn btn-small btn-danger btn-block font-weight-bold text-white" type="button" id="{{row[0]}}eventButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ row[6] }} <span class="badge font-weight-bold text-white" style="background-color:#ff3333" >{{ row[8]|length }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="{{row[0]}}eventSubmenu">
                        {% for n in range(5) if row[8][n] %}
                            <a class="dropdown-item">{{ row[8][n] }}</a>
                        {% endfor %}
                        {% if row[8]|length > 5 %}
                        <a class="dropdown-item text-info text-center" href="{{ url_for('event') }}?var={{row[0]}}" id="{{row[0]}}event_link" target="_blank"><u>More Events</u></a>
                        {% else %}
                        <a class="dropdown-item text-info text-center" href="{{ url_for('event') }}?var={{row[0]}}" id="{{row[0]}}event_link" target="_blank"><u>Click for details</u></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </td>
            {% if "D/C" in row[9] %}
                <td class="align-middle font-weight-bold text-danger" id="{{row[0]}}flag" >{{ row[9] }}</td>
            {% elif "OFF" in row[9]%}
                <td class="align-middle font-weight-bold text-warning" id="{{row[0]}}flag" >{{ row[9] }}</td>
            {% else %}
                <td class="align-middle font-weight-bold text-success" id="{{row[0]}}flag" >{{ row[9] }}</td>
            {% endif %}
            <td class="align-middle font-weight-bold text-success" id= "{{row[0]}}udp" >{{ row[11] }}</td> 
            {% if "OFF" in row[14]%}
                <td class="col col-auto">
                    <button type="button" class="btn btn-info btn-small btn-block font-weight-bold" style="width: 120px"  id="{{row[0]}}" onclick=" writeValue(document.getElementById('{{row[0]}}').innerHTML,'{{row[0]}}');" >{{row[14]}}</button>
                </td>  
            {% elif "BLINKING" in row[14]%}    
                <td class="col col-auto">
                    <button type="button" class="btn btn-success btn-small btn-block font-weight-bold" style="width: 120px" id="{{row[0]}}" onclick=" writeValue(document.getElementById('{{row[0]}}').innerHTML,'{{row[0]}}');" >{{row[14]}}</button>
                </td>      
            {% else %}
                <td class="col col-auto">
                    <button type="button" class="btn btn-danger btn-small btn-block font-weight-bold " style="width: 120px " id="{{row[0]}}" onclick=" writeValue(document.getElementById('{{row[0]}}').innerHTML,'{{row[0]}}');" >{{row[14]}}</button>
                </td>  
            {% endif %}
            <td class="align-middle font-weight-bold" ><a class="fas fa-server" href="{{ url_for('details') }}?var={{row[0]}}" style="font-size: 30px" target="_blank"></a></td>
            <td class="align-middle">
                <div class="dropdown dropleft">
                    <a
                        class="fas fa-chart-line text-primary"
                        id="dropdownMenuButton3"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        style = "font-size: 24px"
                        aria-haspopup="true"
                        href= ""
                    ></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if 'false' in show_names or 'No Value' in row[16] %}
                            <a class="dropdown-item align-items-center" href="{{ url_for('showipmisensor') }}?var={{row[0]}}">{{row[0]}} Sensors</a>
                        {%else%}
                            <a class="dropdown-item align-items-center" href="{{ url_for('showipmisensor') }}?var={{row[0]}}">{{row[16]}} - {{row[0]}} Sensors</a>
                        {%endif%}
                        <div class="dropdown-divider"></div>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('index') }}chart_cputemperatures/{{ row[0]}}" target="_self">
                                &#x226A; CPU Temperatures
                            </a>
                        
                            <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                                {% for cpu in cpu_temps[loop.index-1] %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('index') }}chart_cputemperatures/{{ row[0] }}?name={{ cpu}}" target="_self">{{cpu}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('index') }}chart_vrmtemperatures/{{ row[0]}}" target="_self">
                                &#x226A; VRM Temperatures
                            </a>
                            <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                                {% for vrm in vrm_temps[loop.index-1] %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('index') }}chart_vrmtemperatures/{{ row[0] }}?name={{ vrm}}">{{vrm}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                            <li>
                            <a class="dropdown-item" href="{{ url_for('index') }}chart_dimmctemperatures/{{ row[0] }}" target="_self">
                                &#x226A; DIMM Temperatures
                            </a>
                            <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu"> 
                                {% for dimm in dimm_temps[loop.index-1] %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('index') }}chart_dimmctemperatures/{{ row[0] }}?name={{ dimm}}">{{dimm}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if gpu_temps[loop.index-1]|length > 0 %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('index') }}chart_gputemperatures/{{ row[0] }}" target="_self">
                                    &#x226A; GPU Temperatures
                                </a>
                                <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                                    {% for gpu in gpu_temps[loop.index-1] %}
                                        <li>
                                            <a class="dropdown-item" href="{{ url_for('index') }}chart_gputemperatures/{{ row[0]}}?name={{gpu}}">{{gpu}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {%endif%}
                        <li>
                            <a class="dropdown-item" href="{{ url_for('index') }}chart_othertemperatures/{{ row[0] }}" target="_self">
                                &#x226A; System Temperatures
                            </a>
                            <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                                {% for systemps in sys_temps[loop.index-1] %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('index') }}chart_othertemperatures/{{ row[0]}}?name={{ systemps}}">{{systemps}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('index') }}chart_fans/{{ row[0] }}"  target="_self">
                                &#x226A; Fans
                            </a>
                            <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                                {% for sys_fans in sys_fans[loop.index-1] %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('index') }}chart_fans/{{ row[0] }}?name={{ sys_fans}}">{{sys_fans}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                        <a class="dropdown-item" href="{{ url_for('index') }}chart_voltages/{{ row[0] }}"  target="_self">
                            &#x226A; System Voltages
                        </a>
                            <ul class="dropdown-menu dropdown-submenu scrollable-menu dropleft" role="menu">
                                {% for sys_voltages in sys_voltages[loop.index-1] %}
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('index') }}chart_voltages/{{ row[0] }}?name={{ sys_voltages}}">{{sys_voltages}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li> <a class="dropdown-item" href="{{ url_for('index') }}chart_powercontrol/{{ row[0]}}" target="_self">Power Consumption</a> </li>
                        <li> <a class="dropdown-item" href="{{ url_for('index') }}chart_powersuppliespower/{{ row[0] }}" target="_self">Power Supplies Power</a></li>
                        <li> <a class="dropdown-item" href="{{ url_for('index') }}chart_powersuppliesvoltage/{{ row[0] }}" target="_self">Power Supplies Voltage</a></li>
                    </ul>
                </div>
            </td>
            <td class="align-middle">
                <div class="dropdown dropleft" style="align-middle">  
                    <a class="fas fa-chart-bar text-primary" style="font-size: 24px"  href="" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_temperatures_chart/{{ row[0] }}" target="_self">Temps</a>
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_fans_chart/{{ row[0] }}" target="_self">Fan Speeds</a>
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_voltages_chart/{{ row[0] }}" target="_self">Voltages</a>
                        <a class="dropdown-item" href="{{ url_for('index') }}min_max_power_chart/{{ row[0] }}" target="_self">Power</a>      
                    </div>
                </div>
            </td>
           <!--<td class="align-middle font-weight-bold" ><a class="fas fa-chart-bar" href="{{ url_for('index') }}min_max_temperatures_chart/{{row[0]}}" style="font-size: 30px" target="_self"></a></td> -->
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="font-weight-bold text-center"><span class="text-danger">ERROR:</span> UNABLE to retrive IKVM link. <br>Please check if the server's <u>LICENSE</u> has been <u>ACTIVATED</u>!</p>
  </div>

</div>

{% include "footer.html" %}
<script>
    // Get the modal
    var modal = document.getElementById("myModal");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


    var frontend_url = "{{ frontend_url}}";
    function get_ikvm(val1){
        $.ikvm(val1);
    }
    $.ikvm = function(val1){
        $.ajax({
            url: '/ajax_get_ikvm',
            data: {ip: val1},
            dataType : "JSON",
            type : "GET",
            success: function(result){
                var data = result;
                var ikvm_id = "ikvm_url:" + val1
                for(var key in data){
                    if (data[key] != "unknown") {
                        ikvm_url = "https://" + data[key]; ///Replace text in button with return value from python script
                        window.open(ikvm_url, '_blank');
                        break; 
                    }
                    else {
                        modal.style.display = "block";
                        break; 
                    }
                    
                }
            }
        });
    }
    function writeValue(val1,val2){ //Javascript function for retrieving parameters, and passing to ajax.
        console.log(val1 + " " + val2);
        $.myjQuery(val1,val2);  
    };
    // AJAX Function for UID...
    $.myjQuery = function(val1,val2){
        $.ajax({
            url: '/uid_onoff',
            data:{ ip: val2, uid_state: val1 },
            dataType: "JSON",
            timeout: 1000,
            type: 'GET',
            beforeSend: function(){ ///Write executing to button while sending and retrieving data.
                console.log("Executing...");
                document.getElementById(val2).innerHTML = "Loading";
            },
            success: function(result){
                var data = result;
                var button = document.getElementById(val2);
                for(var key in data){
                    document.getElementById(val2).innerHTML = data[key]; ///Replace text in button with return value from python script
                    if (data[key] == "BLINKING") { ////Assign color for button accordingly
                        if (!button.classList.replace("btn-info","btn-success")) {
                            button.classList.replace("btn-danger", "btn-success");
                        }
                    }
                    else if (data[key] == "OFF"){
                        if(!button.classList.replace("btn-success","btn-info")) {
                            button.classList.replace("btn-danger", "btn-info");
                        }
                    }
                    else {
                        console.log("Got N/A...");
                        if (!button.classList.replace("btn-info", "btn-danger")) {
                            button.replace("btn-success", "btn-danger");
                        }
                    }
                }

            },
            error: function (xhr, textStatus) {
                console.log("Error on ajax function with " + val1 + " & " + val2);
                var button = document.getElementById(val2);
                button.innerHTML = "N/A";
                if (!button.classList.replace("btn-info","btn-danger")) {
                    button.classList.replace("btn-success", "btn-danger");
                }
            }
        });
    };
    $(document).ready(function() {
        $('#indexpage').DataTable( {
            "lengthMenu": [[10, 20, 40, -1], [10, 20, 40, "All"]],
            "pageLength" : -1,
            dom: "<Bfr<t><'row'<'col-md-6'l><'col-md-6'p>>>", 
            stateSave: true,
            stateDuration: 600,
            columnDefs: [
              {targets: [3,4,6], visible: false}
            ],
            buttons: [
                       'colvis','excel','copy'
            ],
        } );
    } );
    $('body .dropdown-toggle').dropdown(); 
    function updatePage(){
        $.updateIndex();
    }
    $.updateIndex = function(clientState){
        $.ajax({
            url: '/update_index_page',
            type: 'GET',
            dataType: "JSON",
            beforeSend: function() {
                //console.log("Updating Index page...");///For debug purposes
            },
            success: function(result){
                var data = result;
                var lcm_ip;
                for (var bmc_ip in data){ /// Function return a data in JSON
                    if(bmc_ip == "time"){
                        document.getElementById('clockstopper').innerHTML = data[bmc_ip];
                    }
                    else{
                        for (var i in data[bmc_ip]){
                            switch (i) {
                                case 'ModelNumber':
                                    if (document.getElementById(bmc_ip+'model')) {
                                        document.getElementById(bmc_ip+'model').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'SerialNumber':
                                    if (document.getElementById(bmc_ip+'serial')) {
                                        document.getElementById(bmc_ip+'serial').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'CPLDVersion':
                                    if (document.getElementById(bmc_ip+'cpldversion')) {
                                        document.getElementById(bmc_ip+'cpldversion').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'BmcVersion':
                                    if (document.getElementById(bmc_ip+'bmcversion')) {
                                        document.getElementById(bmc_ip+'bmcversion').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'BiosVersion':
                                    if (document.getElementById(bmc_ip+'biosversion')) {
                                        document.getElementById(bmc_ip+'biosversion').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'timestamp':
                                    if (document.getElementById(bmc_ip+'datetime')) {
                                        document.getElementById(bmc_ip+'datetime').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'udp_message':
                                    if (document.getElementById(bmc_ip+'udp')) {
                                        document.getElementById(bmc_ip+'udp').innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'monitorStatus':
                                    if (document.getElementById(bmc_ip+'flag')) {
                                        document.getElementById(bmc_ip+'flag').innerHTML = data[bmc_ip][i];
                                        document.getElementById(bmc_ip+'flag').classList.remove('text-warning');
                                        document.getElementById(bmc_ip+'flag').classList.remove('text-success');
                                        document.getElementById(bmc_ip+'flag').classList.remove('text-danger');
                                        if(data[bmc_ip][i].includes('D/C')){
                                            document.getElementById(bmc_ip+'flag').classList.add('text-danger');
                                        }
                                        else if(data[bmc_ip][i].includes('OFF')){
                                            document.getElementById(bmc_ip+'flag').classList.add('text-warning');
                                        }
                                        else{
                                            document.getElementById(bmc_ip+'flag').classList.add('text-success');
                                        }
                                    }
                                    break;
                                case 'bmc_event':
                                    if (document.getElementById(bmc_ip+'eventButton')) {
                                        var event_button = document.getElementById(bmc_ip + 'eventButton');
                                        event_button.classList.remove('btn-success');
                                        event_button.classList.remove('btn-warning');
                                        event_button.classList.remove('btn-danger');
                                        event_button.classList.remove('text-white');
                                        if(data[bmc_ip][i] == 'ERROR'){
                                            event_button.classList.add('btn-danger');
                                        }
                                        else if(data[bmc_ip][i] == 'WARNING'){
                                            event_button.classList.add('btn-warning');
                                        }
                                        else{
                                            event_button.classList.add('btn-success');
                                        }
                                        event_button.classList.add('text-white');
                                        event_button.innerHTML = data[bmc_ip][i];
                                    }
                                    break;
                                case 'bmc_details':
                                    if (document.getElementById(bmc_ip+'eventSubmenu')) {
                                        var event_menu = document.getElementById(bmc_ip + 'eventSubmenu');
                                        event_menu.innerHTML = "";
                                        var event_list = data[bmc_ip][i];
                                        var button_text = document.getElementById(bmc_ip + 'eventButton').innerHTML;
                                        var event_link = frontend_url + "/event?var=" + bmc_ip
                                        var inserted_more = false;
                                        if(event_list[0] != ''){
                                            for(var y = 0; y < event_list.length; y++){
                                                event_menu.insertAdjacentHTML('beforeend',"<a class='dropdown-item'>" + event_list[y] + "</a>")
                                                if(y > 5){
                                                    inserted_more = true;
                                                    event_menu.insertAdjacentHTML('beforeend',"<a class='dropdown-item text-info text-center' href=" + event_link + " target='_blank'><u>More Events</u></a>");
                                                    break;
                                                }
                                            }
                                            if(!inserted_more && button_text != "OK"){
                                                event_menu.insertAdjacentHTML('beforeend',"<a class='dropdown-item text-info text-center' href=" + event_link + " target='_blank'><u>Click for details</u></a>");
                                            }
                                        }
                                        if(button_text == "ERROR"){
                                            document.getElementById(bmc_ip + 'eventButton').innerHTML = button_text + " " + "<span class='badge font-weight-bold text-white' style='background-color:#ff3333'>" + event_list.length + "</span>";
                                        }
                                        else if(button_text == "WARNING"){
                                            document.getElementById(bmc_ip + 'eventButton').innerHTML = button_text + " " + "<span class='badge font-weight-bold text-white' style='background-color:#ffa31a'>" + event_list.length + "</span>";
                                        }
                                        else{
                                            event_menu.insertAdjacentHTML('beforeend',"<a class='dropdown-item'>" + "Everything is good, no event reported!" + "</a>")
                                        }
                                    }
                                    break;
                                default:
                                    console.log(data[bmc_ip][i])
                                    break;
                            }
                        }
                    }
                }
            }        
        });
    }
    var index_update = setInterval(updatePage,60000); ////Adjust the interval for page update: i.e 1000 = 1 sec
</script>
</body>
</html>