<!DOCTYPE html>
<html>
<style>
li {
display: inline;
}
</style>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Linux Cluster Monitor</h1>
        <strong><nav>
          <ul class="menu">
            <li class='nav-item'>
              <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-home"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{ url_for('index') }}" target="_blank">{{rackname}} Monitor</a>
                  <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
              </div>
          </li>

          <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
      {% block content %}
      {% endblock %}
  </body>
</html>

