<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sumtoolbox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
    <!-- <script src='static/knockout-3.5.1.js' type='text/javascript'></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/alfg/ping.js@0.2.2/dist/ping.min.js" type="text/javascript"></script> -->
    <!-- <script src="static/ping.js" type="text/javascript"></script> -->

</head>

<style>
    ul span {
    color: green;
}
    hr.dotted {
    border-top: 3px dotted #0275d8;
}

    hr.solid {
    border-top: 3px solid #0275d8;
}

    /* CSS For the terminal window, made scroll incase output is too large */
    div.scroll {
        background-color: black;
        color: chartreuse;
        width: 70%;
        padding: 10px;
        border: 2px solid greenyellow;
        font-weight: normal;
        margin-left: 0%;
        height: 450px;
        max-height: 450px;
        overflow-x: auto;
        overflow-y: auto;
        border-radius: 15px;
    }
    /* Background contains everything that is the console */
    #background {
        position: fixed;
        background-color: black;
        width: 800px;
        height: 350px;
        max-height: 600px;
        overflow-y: auto;
        text-align: left;
    }
    /* Console output formatting */
    pre {
        color: rgb(255, 255, 255);
        margin: 0px 0px 0px 0px;
        overflow-x:auto;
    }
    /* More console input formatting to make input box larger */
    input#textinput {
        width: 950px;
    }
    /* CSS classes for key word highlighting in the console output */
    .error{
        color:red;
    }
    .ok{
        color:chartreuse;
    }
    .info{
        color:aqua;
    }
    .ip{
        color:#FF00FF;
        font-weight:bold;
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <ul class="navbar-nav">
            <li class='nav-item'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-home"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
                    {% for url in frontend_urls %}
                    <a class="dropdown-item" href="{{ url[1] }}" target="_blank"> {{url[0]}} Monitor</a>
                    {% endfor %}
                </div>
            </li>

            <li class='dropdown'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-power-off"></i>
                </button>
                <div class="dropdown-menu dropright" aria-labelledby="dropdownMenuButton">
                    {% for url in frontend_urls %}
                    <a class="dropdown-item" href="{{ url[1] }}/sumtoolboxupload" target="_blank"> {{url[0]}} SUMTOOL BOX</a>
                    {% endfor %}
                </div>
            </li>
            <li class='dropdown'>
                <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SUM TOOL BOX
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Beta Version 1.0</a> 
                </div>
            </li>
            
            <li class='dropdown'>
                <a class="btn btn-primary btn-lg mr-1 text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="display_ips">
                Current Selected IPs
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for ip, indicator in data %}
                    {% if indicator == 1 %}
                    <a class="dropdown-item text-success font-weight-bold" id="{{ip}}">{{ ip }}</a>
                    {% else %}
                    <a class="dropdown-item" id="{{ip}}">{{ ip }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% include "advancedfeatures_menu.html" %}
            {% include "documentationButton.html" %}

        </ul>
    </nav>

    <div class="jumbotron bg-infor" style="margin: 0rem; padding: 25px;" >
    <div class ="row">
            <div class="col"> 
                <div class ="row">
                    <div class="col">
                        <form id = "fileform">
                            <div class="form-group">
                                <h3><u class="font-weight-bold text-primary">STEP 1:</u> Config Input IPs</h3>
                                <br>
                                <h4>Option 1: Upload a text file of the BMC IPs</h4>
                                <label>Choose your text file</label>
                                <div class="custom-file">
                                    <input type="file" class="form-control-file form-primary" name="file" id="file" required>
                                    <small id="help" class="form-text text-muted">Please upload a text file of <u>VALID</u> BMC IPs, USER NAME and PASSWORD seperated by space.
                                    </small>
                                    <output id="list"></output>
                                </div>
                            </div>
                            
                            <a id="uploadbutton" class="btn btn-primary text-white disabled" onclick="uploadFile()">UPLOAD FILE</a>                                           
                            <small id="help0" class="form-text text-muted">File will be uploaded into local server.</small>
                        </form>
                    </div>
                </div>      
            <br>
            
                <div class ="row">
                    <div class="col">

                        <form id = "inputform">

                            <div class="form-group">
                                <h4>Option 2: Input IPs</h4>
                                <label>Input IP range</label>
                                    <div class ="row">
                                    <div class="col-auto">
                                    <input class="form-control" type="text" name ="ipstart" id="ipstart" placeholder="IP starts from (Included)">
                                    </div>
                                    <div class="col-auto">
                                    <input class="form-control" type="text" name ="ipend" id="ipend" placeholder="IP ends (Not included)">
                                    </div>
                                    <input type="hidden" id="ip" name="ip" value="all">
                                    <input type="hidden" id="inputtype" name="inputtype" value="suminput">
                                    <input type="hidden" id="iptype" name="iptype" value="ipmi">
                                    </div>
                            </div>
                            <a id="uploadRange" class="btn btn-primary text-white" name="uploadRange" onclick="uploadIPs()">SELECT RANGE</a>                                        
                            <a id="uploadall" class="btn btn-primary text-white" name="uploadall" onclick="uploadallIPs()">SELECT ALL</a>
                            <a id="unselectall" class="btn btn-warning text-white disabled" name="unselectall" onclick="CallIPCleaner()">UNSELECT ALL</a>
                            <a id="buttonlocker"  class="btn btn-danger text-white" name="buttonlocker"  onclick="toggleButtonLocker()">UPDATE LOCKED</a>                          
                            <small id="help1" class="form-text text-muted">Input file will be created with selected range or all IPs.</small>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col auto" style="font-weight: bolder;">
                  Terminal Output :
                 <div class="col-auto scroll" id = "upload_terminal">
                 </div>
            </div>
        </div> 
        <hr class="solid">
        
        <div class ="row">
            <div class="col">
                    <h3><u class="font-weight-bold text-primary">STEP 2:</u> Run SUM Processes</h3>
                    <br>
                    <h4>Option 1: BIOS Settings Comparison</h4>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp GetCurrentBiosCfg &nbsp --file &nbsp htmlBios --overwrite</label>
                          </div>
                          <small id="help1" class="form-text text-muted">Commands above will be sent to target systems and comparison will be made.</small>
                          <br>
                    <a id="sumbutton1" class="btn btn-success mr-1 disabled" href="{{ url_for('sumbioscompoutput') }}" target="_blank">COMPARE</a>
            </div>
            <div class="col">
                <form action="/sumbootorderdownload" method="POST" enctype="multipart/form-data" id = "fileform">
                    <br>
                    <br>
                    <h4>Option 2: Boot Order Download</h4>

                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp GetCurrentBiosCfg &nbsp --file &nbsp htmlBios --overwrite</label>
                          </div>
                          <small id="help1" class="form-text text-muted">Commands above will be sent to target systems and boot order table will be sent.</small>
                          <br>
                    <button id="sumbutton2" type="submit" class="btn btn-success" disabled>DOWNLOAD</button>
                </form>
            </div>
        </div>
        
        <hr class="dotted">
        
        <div class ="row">
            <div class="col">
                <form class="form-group" id = "biosform">
                    <h4>Option 3: BIOS Update</h4>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="biosimage" id="biosimage" required>
                            <small id="help" class="form-text text-muted">Please upload a bios image</small>
                        </div>
                        <br>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp UpdateBios &nbsp --file &nbsp 
                            <a class="text-success">BiosImage</a></label>
                          </div>
                          <small id="help1" class="form-text text-muted">Please upload the BIOS image before start updating.</small>
                          <br>
                    <a id="uploadimage1" class="btn btn-primary text-white" onclick="uploadBIOSImage()">UPLOAD IMAGE</a>
                    <a id="sumbutton3" class="btn btn-success mr-1 disabled" href="{{ url_for('sumbiosupdateoutput') }}">UPDATE</a>
                </form>
            </div>
            <div class="col">
                <form class="form-group" id = "bmcform">
                    <h4>Option 4: BMC Update</h4>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="bmcimage" id="bmcimage" required>
                            <small id="help" class="form-text text-muted">Please upload a bios image</small>
                        </div>
                        <br>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp UpdateBmc &nbsp --file &nbsp 
                            <a class="text-success">BMCImage</a></label>
                          </div>
                          <small id="help1" class="form-text text-muted">Please upload the BMC image before submit.</small>
                          <br>
                    <a id="uploadimage2" class="btn btn-primary text-white" onclick="uploadBMCImage()">UPLOAD IMAGE</a>
                    <a id="sumbutton4" class="btn btn-success mr-1 disabled" href="{{ url_for('sumbmcupdateoutput') }}">UPDATE</a>
                </form>
            </div>
        </div>

        <hr class="dotted">
        
        <div class ="row">
            <div class="col">
                    <h4>Option 5: Get BIOS Settings</h4>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">
                            ./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp GetCurrentBiosCfg &nbsp --file &nbsp BiosSettings_RackName/html --overwrite
                            </label>
                          </div>
                          <small id="help1" class="form-text text-muted">The BIOS settings are downloaded as tar file.</small>
                          <br>
                    <a id="sumbutton5" class="btn btn-success mr-1 disabled" href="{{ url_for('sumdownloadbiossettings') }}">DOWNLOAD</a>
            </div>
            <div class="col">
                <form class="form-group" id = "settingsform">
                    <h4>Option 6: Change BIOS Settings</h4>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="biossettings" id="biossettings" required>
                            <small id="help" class="form-text text-muted">Please upload BIOS settings file</small>
                        </div>
                        <br>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp ChangeBiosCfg &nbsp --file &nbsp 
                            <a class="text-success">BiosSettings</a> --skip_unknown</label>
                          </div>
                          <small id="help1" class="form-text text-muted">Please upload BIOS settings before start changing.</small>
                          <br>
                    <a id="uploadsettingsbutton" class="btn btn-primary text-white" onclick="uploadBIOSSettings()">UPLOAD SETTINGS</a>
                    <a id="sumbutton6" class="btn btn-success mr-1 disabled" href="{{ url_for('sumbiossettingschangeoutput') }}">CHANGE</a>
                </form>
            </div>
        </div>
        
        <hr class="dotted">
        
        <div class ="row">
            <div class="col">
                <form action="/sumdownloaddmi" method="POST" enctype="multipart/form-data" id = "fileform">
                    <h4>Option 7: Get DMI Infomation</h4>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">
                            ./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp GetDmiInfo &nbsp --file &nbsp DMI_RackName/txt --overwrite
                            </label>
                          </div>
                          <small id="help1" class="form-text text-muted">The DMI files are downloaded as tar file.</small>
                          <br>
                    <button id="sumbutton7" class="btn btn-success mr-1" disabled >DOWNLOAD</button>
                </form>
            </div>

            <div class="col">
                <form id = "checkActivation">
                    <h4>Option 8: Check Activation</h4>
                          <div class="form-group row">                         
                            <label class="col-auto col-form-label text-left font-weight-bold text-primary">
                            ./sum &nbsp -l &nbsp <a class="text-success">InputFile</a> &nbsp --c &nbsp CheckOOBSupport
                            </label>
                          </div>
                          <small id="help1" class="form-text text-muted">Used to check if OOB/DCMS license</small>
                          <br>
                    <a id="sumbutton8" class="btn btn-success text-white disabled" name="sumbutton8" onclick="checkOOB()" >CHECK ACTIVATION</a>
                </form>
            </div>
        </div>
        
        
        
        <hr class="solid">
        
        <div class="row">
            <!--
            <div class="col">                
                    <h3><u class="font-weight-bold text-primary">STEP 3:</u> Show SUM Running Status</h3>
                    <small id="help1" class="form-text text-muted">Read sum log file with the current running process pid.</small>
                    <br>
                    <a class="btn btn-success mr-1" href="{{ url_for('sumlogpage') }}" target="_blank">SUM STATUS</a>
            </div>
            -->
            <div class="col">
            <h3><u class="font-weight-bold text-primary">STEP 3:</u> SUM LOG OUTPUT</h3>
            <div class="col auto" style="font-weight: bolder;">
                 <small id="help1" class="form-text text-muted">Read sum log file with the current running process pid.</small>
                 <div class="col-auto scroll" id = "sum_terminal" style="width: 80%">
                 </div>
            </div>
            </div>
        </div>       
        
    </div>

    {% include "footer.html" %}
    
    <script type="text/javascript">
        var locker_flag = 1;
        var terminal = document.getElementById('upload_terminal'); //// terminal window to insert output
        var sum_terminal = document.getElementById('sum_terminal');
        var reError = /\b(Locked|locked|Failed|FAILED|failed|ERROR|Error|error|Invalid|INVALID|no|NO|Overflow|false|No|Not\sAvailable)\b/g;
        var reSuccess = /\b(Unlocked|unlocked|Successfully|successfully|SUCCESSFULLY|OK|ok|Ok|oK|true|TRUE|True|Response|SUCCESS|Success|success|Yes|YES|yes)\b/g;
        var reInfo = /\b(Info|Information|information|INFO|info)\b/g;
        var reIP = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/g;
        document.addEventListener('DOMContentLoaded', function() { //// On page load check system for ip file and update Current Selected IPs
            $.CheckIPMIs();
        }, false);
        $.CheckIPMIs = function(){ /// CheckIPMI function, return all bmc_ips managed in the RACK. in the form of {bmc_ip: true/false}. True/false depending on the IP file read.
            $.ajax({
                url: '/checkSelectedIPs?filetype=suminput&iptype=ipmi',
                dataType : "JSON",
                type : "GET",
                success: function(result){
                    var data = result;
                    var hasIPs = false;
                    addLine('Info: Reading file with selected IPs');
                    for (var key in data){ //// Parse through json and update the IPs in the Current Selected dropdown menu in the nav bar
                        var ip = document.getElementById(key)
                        if (data[key] == 'true'){
                            hasIPs = true;
                            ip.classList.add("text-success");
                            ip.classList.add("font-weight-bold");
                            addLine('Info: Selecting ' + key + '...');
                        }
                        else{
                            ip.classList.remove("text-success");
                            ip.classList.remove("font-weight-bold");
                        }
                    }
                    if (hasIPs === false){
                        addLine('Warning: No IPs selected from this Rack');
                        disableSUMButtons()
                    }
                    else{
                        addLine('Info: Current Selected IPs has been updated');
                        addLine('Info: Run the commands when ready...');
                        ips = document.getElementById("display_ips")
                        ips.classList.add("show")
                        enableSUMButtons()
                    }
                    if (locker_flag === 1){
                        addLine('Info: update buttons are locked.');
                    }
                    else{
                        addLine('Info: update buttons are unlocked.');
                    }                                                      
                }
            });
        }
        $.UploadFiletoServer = function(){
            $.ajax({
                url: '/uploadinputipsfileforall?filetype=suminput&iptype=ipmi', 
                type: 'POST',
                data: new FormData($('#fileform')[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Info: Upload Completed, file parsed successfully...');
                $.CheckIPMIs();///Once form has been uploaded and saved by server. Run the CheckIPMI ajax function to read the file from the server and update the Current Selected IPs
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.classList.add('disabled');

            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Info: Upload Failed...');
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.classList.add('disabled');
            });
        }
        $.UploadBIOSImagetoServer = function(){
            $.ajax({
                url: '/sumbiosimageupload', 
                type: 'POST',
                data: new FormData($('#biosform')[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Info: BIOS image has been uploaded successfully...');
                document.getElementById("uploadimage1").innerHTML = "UPLOAD IMAGE";
                input_field = document.getElementById('biosimage');
                document.getElementById("uploadimage1").classList.remove('disabled')
                document.getElementById("uploadimage1").classList.remove('btn-warning')
                document.getElementById("uploadimage1").classList.add('btn-primary')
                input_field.value = '';
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Info: BIOS image uploading failed...');
                input_field = document.getElementById('biosimage');
                input_field.value = '';
                document.getElementById("uploadimage1").innerHTML = "UPLOAD IMAGE";
                document.getElementById("uploadimage1").classList.remove('disabled')
                document.getElementById("uploadimage1").classList.remove('btn-warning')
                document.getElementById("uploadimage1").classList.add('btn-primary')
            });
        }
        $.UploadBMCImagetoServer = function(){
            $.ajax({
                url: '/sumbmcimageupload', 
                type: 'POST',
                data: new FormData($('#bmcform')[0]), // The form with the file inputs. 'bmcform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Info: BMC image has been uploaded successfully...');
                document.getElementById("uploadimage2").innerHTML = "UPLOAD IMAGE";
                input_field = document.getElementById('bmcimage');
                document.getElementById("uploadimage2").classList.remove('disabled')
                document.getElementById("uploadimage2").classList.remove('btn-warning')
                document.getElementById("uploadimage2").classList.add('btn-primary')
                input_field.value = '';
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Info: BMC image uploading failed...');
                input_field = document.getElementById('bmcimage');
                input_field.value = '';
                document.getElementById("uploadimage2").innerHTML = "UPLOAD IMAGE";
                document.getElementById("uploadimage2").classList.remove('disabled')
                document.getElementById("uploadimage2").classList.remove('btn-warning')
                document.getElementById("uploadimage2").classList.add('btn-primary')
            });
        }
        $.UploadBIOSSettingstoServer = function(){
            $.ajax({
                url: '/sumbiossettingsupload', 
                type: 'POST',
                data: new FormData($('#settingsform')[0]), // The form with the file inputs. 'bmcform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Info: BIOS settings file has been uploaded successfully...');
                document.getElementById("uploadsettingsbutton").innerHTML = "UPLOAD SETTINGS";
                input_field = document.getElementById('biossettings');
                document.getElementById("uploadsettingsbutton").classList.remove('disabled')
                document.getElementById("uploadsettingsbutton").classList.remove('btn-warning')
                document.getElementById("uploadsettingsbutton").classList.add('btn-primary')
                input_field.value = '';
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Info: BIOS settings file uploading failed...');
                input_field = document.getElementById('biossettings');
                input_field.value = '';
                document.getElementById("uploadsettingsbutton").innerHTML = "UPLOAD SETTINGS";
                document.getElementById("uploadsettingsbutton").classList.remove('disabled')
                document.getElementById("uploadsettingsbutton").classList.remove('btn-warning')
                document.getElementById("uploadsettingsbutton").classList.add('btn-primary')
            });
        }
        $.CallAdvancedInputGenerator = function(ipstart, ipend,inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {ipstart: ipstart, ipend: ipend, inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            disableSUMButtons();
                            addLine('Error: Could not get range from server...');
                            addLine('Error: Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates successful execution of the Generator. Report to terminal
                        addLine('Info: Got IP range from server...');
                        $.CheckIPMIs()
                    }
                }        
            }); 
        }
        $.CallAdvancedAllGenerator = function(inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_all_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            disableSUMButtons();
                            addLine('Error: Could not generate the file...');
                            addLine('Error: Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates successful execution of the Generator. Report to terminal
                        addLine('Info: Getting IP range from server...');
                        $.CheckIPMIs()
                    }
                }        
            }); 
        }
        $.CallCheckOOB = function(){
            $.ajax({
                url: '/sumcheckactivation', 
                type: 'GET',
                dataType: "JSON",
                success: function(result){
                    var data = result;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        for(i = 0; i < data[key].length; i++ ){
                            addLineSum(data[key][i]);
                        }
                    }
                    document.getElementById('sumbutton8').innerHTML = "CHECK ACTIVATION";
                    document.getElementById('sumbutton8').classList.remove('disabled');
                }        
            });         
        }
        function toggleButtonLocker(){
            if (locker_flag === 1){
            document.getElementById('buttonlocker').classList.remove('btn-danger');
            document.getElementById('buttonlocker').classList.add('btn-success');
            document.getElementById('buttonlocker').innerHTML = "UPDATE UNLOCK";
            terminal.innerHTML = ""
            $.CheckIPMIs();            
            locker_flag = 0;
            }
            else {
            document.getElementById('buttonlocker').classList.remove('btn-success');
            document.getElementById('buttonlocker').classList.add('btn-danger');
            document.getElementById('buttonlocker').innerHTML = "UPDATE LOCKED";
            document.getElementById('sumbutton3').classList.add('disabled');
            document.getElementById('sumbutton4').classList.add('disabled');
            document.getElementById('sumbutton6').classList.add('disabled');      
            addLine('Info: update buttons are locked.');
            locker_flag = 1;
            }
        }
        function enableSUMButtons(){
            if (locker_flag === 0){ /// Only if unlock the button, the update can be used.
                document.getElementById('sumbutton3').classList.remove('disabled');
                document.getElementById('sumbutton4').classList.remove('disabled');
                document.getElementById('sumbutton6').classList.remove('disabled');
            }
            document.getElementById('sumbutton1').classList.remove('disabled');
            document.getElementById('sumbutton2').disabled = false;
            document.getElementById('sumbutton5').classList.remove('disabled');
            document.getElementById('sumbutton7').disabled = false;
            document.getElementById('sumbutton8').classList.remove('disabled');
            document.getElementById('unselectall').classList.remove('disabled');
        }

        function disableSUMButtons(){
            document.getElementById('sumbutton1').classList.add('disabled');
            document.getElementById('sumbutton2').disabled = true;
            document.getElementById('sumbutton3').classList.add('disabled');
            document.getElementById('sumbutton4').classList.add('disabled');
            document.getElementById('sumbutton5').classList.add('disabled');
            document.getElementById('sumbutton6').classList.add('disabled');
            document.getElementById('sumbutton7').disabled = true;
            document.getElementById('sumbutton8').classList.add('disabled');
            document.getElementById('unselectall').classList.add('disabled');
        }      
        function uploadFile(){
            terminal.innerHTML = ""
            var file_name = document.getElementById("file").files[0]['name']; ///Upload file from the form element 'file'
            addLine('Info: Uploading ' + file_name + ' to server...');
            $.UploadFiletoServer();
        }
        function uploadBIOSImage(){
            if(!(document.getElementById("biosimage").files[0])) {
                addLine('Error: No BIOS image file found. Please select your image file first!');
            }
            else {
                var file_name = document.getElementById("biosimage").files[0]['name']; ///Upload file from the form element 'biosimage'
                addLine('Info: Uploading BIOS image file: ' + file_name + ' to server...');
                document.getElementById("uploadimage1").innerHTML = "UPLOADING...";
                document.getElementById("uploadimage1").classList.remove('btn-primary')
                document.getElementById("uploadimage1").classList.add('btn-warning')
                document.getElementById("uploadimage1").classList.add('disabled')
                $.UploadBIOSImagetoServer();
           }
        }
        function uploadBMCImage(){
            if(!(document.getElementById("bmcimage").files[0])) {
                addLine('Error: No BMC image file found. Please select your image file first!');
            }
            else {
                var file_name = document.getElementById("bmcimage").files[0]['name']; ///Upload file from the form element 'biosimage'
                addLine('Info: Uploading BMC image file: ' + file_name + ' to server...');
                document.getElementById("uploadimage2").innerHTML = "UPLOADING...";
                document.getElementById("uploadimage2").classList.remove('btn-primary')
                document.getElementById("uploadimage2").classList.add('btn-warning')
                document.getElementById("uploadimage2").classList.add('disabled')
                $.UploadBMCImagetoServer();
           }
        }
        function uploadBIOSSettings(){
            if(!(document.getElementById("biossettings").files[0])) {
                addLine('Error: No BIOS settings file found. Please select your image file first!');
            }
            else {
                var file_name = document.getElementById("biossettings").files[0]['name']; ///Upload file from the form element 'biosimage'
                addLine('Info: Uploading BIOS settings file: ' + file_name + ' to server...');
                document.getElementById("uploadsettingsbutton").innerHTML = "UPLOADING...";
                document.getElementById("uploadsettingsbutton").classList.remove('btn-primary')
                document.getElementById("uploadsettingsbutton").classList.add('btn-warning')
                document.getElementById("uploadsettingsbutton").classList.add('disabled')
                $.UploadBIOSSettingstoServer();
           }
        }
        function uploadIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var ipstart = document.getElementById('inputform')['ipstart'].value;
            var ipend = document.getElementById('inputform')['ipend'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            terminal.innerHTML = ""
            addLine('Info: Getting IP Range from ' + ipstart + ' to ' + ipend);
            $.CallAdvancedInputGenerator(ipstart,ipend,inputtype,iptype);
        }
        function uploadallIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            terminal.innerHTML = ""
            addLine('Info: Selecting all the IPs ...');
            $.CallAdvancedAllGenerator(inputtype,iptype);
        }
        function checkOOB(){
            document.getElementById('sumbutton8').innerHTML = "RUNNING...";
            document.getElementById('sumbutton8').classList.add('disabled');
            $.CallCheckOOB();        
        }
        function handleFileSelect(evt) {
            var file = document.getElementById("file").files[0];
            var button = document.getElementById('uploadbutton');
            input_field = document.getElementById('file');
            if (file) {
                var fileChecker = true;
                var reader = new FileReader();
                reader.readAsText(file, "UTF-8");
                reader.onload = function (evt) {
                    const inputarray = evt.target.result.split("\n");
                    var output = "";
                    for(i = 0; i < inputarray.length; i++ ){
                        if (inputarray[i].split(" ").length != 3) {
                            output = output + '<div style="color:red">EACH LINE NEEDS IP, USERNAME AND PASSWORD!</div>';
                            fileChecker = false
                            continue;
                        }

                        var iparray = inputarray[i].split(" ")[0];
                        if (iparray.length == 0 ){
                            output = output + ' <div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>'
                            fileChecker = false
                            continue;
                        }
                        else {          
                            if (ValidateIPaddress(iparray)){
                                output = output + iparray + ' <a style="color:green">VALID IP</a><br>';
                            }
                            else {
                                fileChecker = false
                                output = output + iparray + ' <a style="color:red">INVALID IP</a><br>';
                            }
                        }   
                    }
                    if (fileChecker){ ////If valid ips found enable the upload button.
                        button.classList.remove('disabled');
                    }
                    else {
                    /// If a single invalid ip, disable upload button
                        input_field.value = '';
                        button.classList.add('disabled');
                    }
                    output = "<strong>FOUND IPMI IP:<br />" + output;
                    document.getElementById("list").innerHTML = output;
                }
                reader.onerror = function (evt) {
                    document.getElementById("list").innerHTML = "error reading file";
                    fileChecker = false;
                    input_field.value = '';
                    button.classList.add('disabled');
                }
            }
        }

        document.getElementById('file').addEventListener('change', handleFileSelect, false);

        /// Clear selected IPs function. Takes a single IP or "all" to unselect all.
        function CallIPCleaner(){
            var ip = document.getElementById('inputform')['ip'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            $.clearIPs(inputtype,ip,iptype);
        }
        $.clearIPs = function(inputtype,ip,iptype){//// Clear IP ajax function to send command and variables to server for processing
            $.ajax({
                url: '/deselectIP', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, ip: ip, iptype: iptype},
                beforeSend: function(){ 
                    terminal.innerHTML = ""
                    addLine('Info: Modifying selections...');
                },
                success: function(result){
                    var data = result;                    
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key == "SUCCESS"){
                            addLine('Info:  ' + data[key]);
                            $.CheckIPMIs(inputtype,iptype);
                        }
                        else{
                            addLine('Error:  ' + data[key]);
                        }
                    }
                }        
            }); 
        }
        
        function addLine(line) {
            var line = line.replace(reError,"<span class='error'>$&</span>").replace(reSuccess,"<span class='ok'>$&</span>").replace(reInfo,"<span class='info'>$&</span>");
            var line = line.replace(reIP,"<span class='ip'>$&</span>");
            terminal.insertAdjacentHTML('beforeend',"<pre> > " +  line + "</pre>" );
        }

        function addLineSum(line) {
            var line = line.replace(reError,"<span class='error'>$&</span>").replace(reSuccess,"<span class='ok'>$&</span>").replace(reInfo,"<span class='info'>$&</span>");
            var line = line.replace(reIP,"<span class='ip'>$&</span>");
            sum_terminal.insertAdjacentHTML('beforeend',"<pre> > " +  line + "</pre>" );
        }         
        
        function ValidateIPaddress(ipaddress) {
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\s?$/.test(ipaddress))
            {
                return (true);
            }
            return (false);
        }
        
        function sumoutputtoterminal(){
            $.sumjQuery();
        };
        $.sumjQuery = function(){
            $.ajax({
                url: '/sumlogtermial',
                dataType: "JSON",
                timeout: 1000,
                type: 'GET',
                success: function(response){
                var data = response;
                const inputarray = data['log_lines'];
                if (data['status'] == 0){ 
                    sum_terminal.innerHTML = "";
                    for(i = 0; i < inputarray.length; i++ ){
                        console.log(inputarray[i]);
                        addLineSum(inputarray[i]);
                    }
                
                }
                }
            });
        };
        sum_terminal.innerHTML = "";
        addLineSum('SUM is IDLE ...');    
        sumoutputtoterminal();
        setInterval(sumoutputtoterminal, 1000);
        ////// Session agent for communicating with the LCM server to send session states ////
        var session_auth = "{{ session_auth }}";
        window.addEventListener('beforeunload', function (e) {
            var agentForm = new FormData();
            var state = 'inactive'
            agentForm.append("session_state",state)
            agentForm.append("session_guid",session_auth)
            navigator.sendBeacon("/sum_session_handler", agentForm);
        });
    </script>
</body>
</html>

