<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>udpsercercontroller</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
</head>
<style>
    ul span {
        color: green;
    }
    /* CSS For the terminal window, made scroll incase output is too large */
    div.scroll {
        background-color: black;
        width: 400px;
        height: 350px;
        max-height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
    }
    .dropright .dropdown-menu{
        width: min-content;
        height: min-content;
        text-align: center;
        margin: 0%;
    }
    .terminal{
        background-color: black;
        color: chartreuse;
        width: 70%;
        border: 2px solid greenyellow;
        font-weight: normal;
        margin-left: 0%;
        height: 500px;
        border-radius: 15px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 5%;
    }
    /* Background contains everything that is the console */
    #background {
        position: fixed;
        background-color: black;
        width: 800px;
        height: 350px;
        max-height: 600px;
        overflow-y: auto;
        text-align: left;
        border-radius: 15px;
    }
    /* Console is a box in the background class */
    #console {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 1000px;
        overflow-y: auto;
        text-align: left;
        border-radius: 15px;
    }

div#console {
    padding-left: 10;
}
    /* Input font formatting for console */
    #textinput {
        height: max-content;
        margin: 0px 0px 0px 0px;
        border: none;
        outline: none;
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-family: Monospace;
        overflow: hidden;
        padding: 0%;
    }
    /* Console output formatting */
    pre {
        color: rgb(255, 255, 255);
        margin: 0px 0px 0px 0px;
        overflow-x: hidden;
    }
    /* More console input formatting to make input box larger */
    input#textinput {
        width: 950px;
    }
    /* CSS classes for key word highlighting in the console output */
    .error{
        color:red;
    }
    .ok{
        color:chartreuse;
    }
    .info{
        color:aqua;
    }
    .ip{
        color:#FF00FF;
        font-weight:bold;
    }
    .warning{
        color: orange;
    }
    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 10px;
        background-color: rgb(2, 163, 2);
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <ul class="navbar-nav">
            <li class='nav-item'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-home"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
                    {% for url in frontend_urls %}
                        <a class="dropdown-item" href="{{ url[1] }}" target="_blank"> {{url[0]}} Monitor</a>
                    {% endfor %}
                </div>
            </li>
            <li class='dropdown'>
                <button class="btn btn-primary dropdown-toggle btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-terminal"></i>
                </button>
                <div class="dropdown-menu dropright" aria-labelledby="dropdownMenuButton">
                    {% for url in frontend_urls %}
                        <a class="dropdown-item" href="{{ url[1] }}/udpserverupload" target="_blank"> {{url[0]}} UDP Commandline</a>
                    {% endfor %}
                </div>
            </li>
            <li class='dropdown'>
                <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                UDP Commandline
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Beta Version 1.0</a> 
                </div>
            </li>
            <li class='nav-item'>
                <a class="btn btn-primary btn-lg text-white"  href="{{ url_for('udpoutput') }}" role="button">
                UDP Benchmark Results
                </a>
            </li>
            <li class='nav-item'>
                <a class="btn btn-primary btn-lg text-white"  href="{{ url_for('hardware_output') }}" role="button">
                Hardware Database
                </a>
            </li>
            {% include "advancedfeatures_menu.html" %}
            {% include "documentationButton.html" %}
        </ul>
    </nav>
    <div class="jumbotron bg-infor" style="margin: 0rem; padding: 25px;" >
        <div class ="row">
            <div class="col-auto" style="width: 20%;">
                <form id = "fileform">
                    <div class="form-group">
                        <h3><u class="font-weight-bold text-primary">STEP 1:</u> Config Input IPs</h3>
                        <br>
                        <h4>Option 1: Upload a text file of the OS IPs</h4>
                        <label>Choose your text file</label>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="file" id="file" required>
                            <small id="help" class="form-text text-muted">Please upload a text file of <u>VALID</u> OS IPs.
                            </small>
                            <output id="list"></output>
                        </div>
                    </div>
                </form>
                <button id="uploadbutton" class="btn btn-primary" disabled onclick="uploadFile()">UPLOAD FILE</button>                                    
                <small id="help0" class="form-text text-muted">File will be uploaded into local server.</small>
                <br>
                <form id = "inputform">
                    <div class="form-group">
                        <h4>Option 2: Input IPs</h4>
                        <label>Input IP range</label>
                        <div class ="row">
                            <div class="col-auto">
                                <input class="form-control" type="text" name ="ipstart" id="ipstart" placeholder="IP starts from (Included)" required>
                            </div>
                            <div class="col-auto">
                                <input class="form-control" type="text" name ="ipend" id="ipend" placeholder="IP ends (Not included)" required>
                            </div>
                                <input type="hidden" id="inputtype" name="inputtype" value="udpserveruploadip">
                                <input type="hidden" id="redirectpage" name="redirectpage" value="udpserverupload">
                                <input type="hidden" id="iptype" name="iptype" value="os">
                                <input type="hidden" id="ip" name="ip" value="all">
                        </div>
                    </div>
                </form>
                <button id="inputbutton" class="btn btn-primary" id="uploadRange" onclick="uploadIPs()">SELECT RANGE</button>                                        
                <button id="inputbutton" class="btn btn-primary" id="uploadall" onclick="uploadallIPs()">SELECT ALL</button>  
                <a id="unselectall" class="btn btn-warning text-white disabled" name="unselectall" onclick="CallIPCleaner('all')">UNSELECT ALL</a> 
                <!----- Step 2 ------------------------------------------------------------------------------------------------------------------------>
                <hr class="solid">
                <form id = "serverInit">
                    <div class="form-group">
                        <h3><u class="font-weight-bold text-primary">STEP 2:</u> Initialize Target Clients</h3>
                        <small id="help0" class="form-text text-muted">Request target clients to send h signal back.</small>
                    </div>
                </form>
                <button id="serverSubmit" type="submit" class="btn btn-primary" onclick="call_ignition()">SEND REQUEST</button>
                <br>
                <form id = "checkonline">
                    <div class="form-group" style="padding-top:20px;">
                        <h3><u class="font-weight-bold text-primary">Optional:</u> Check Connections</h3>
                        <small id="help5" class="form-text text-muted">Check connections between server and client.</small>
                    </div>
                </form>
                <button id="checkconnectionbutton" type="submit" class="btn btn-primary" onclick="checkClientState('latest')">CHECK CONNECTIONS</button>
                <!-- <hr class="solid">
                <form id = "commandForm">
                    <h3><u class="font-weight-bold text-primary">STEP 3:</u> Enter Linux Command</h3>
                        <div class="form-group row">                         
                            <div class="col-md-4 col-lg-4 col-sm-6">
                            <input type="text" class="form-control" id="cmd" name="cmd" placeholder="sdr list full">
                            </div>
                        </div>
                    <small id="help1" class="form-text text-muted">Please input valid ipmitool command</small>
                    <small id="help2" class="form-text text-muted">Example: <u>lspci</u></small>
                    <br>
                </form>
                <button id="testrunbutton" class="btn btn-primary"  onclick="submitCommand()">SUBMIT</button> -->
            </div>
            <div class ="col-auto"style="font-weight:bolder; width:60%;" onclick="addCursor()">
                Console:
                <div id = " col-auto background" style="background-color: black; border-radius: 15px; color: rgb(255, 255, 255); width: auto; max-block-size: auto; padding: 10px; border: 2px solid greenyellow; font-weight: normal; margin-left: 0%;" >
                    <div id = "console">
                            <!-- Commandline output here -->
                        <pre id="inputbar" >/><input id = "textinput" spellcheck="false" onkeydown = "checkInput();" style="height: min-content; width: 800px;"></pre>
                    </div>
                </div>
            </div> 
            <div class="col-auto" style="width: 20%; height: auto; font-weight:bolder;" >
                Client Status :
                <div class="col-auto scroll terminal" id = "status_terminal">
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">
        var command_running = false;
        var reError = /\b(Failed|FAILED|failed|ERROR|Error|error|Invalid|INVALID|no|NO|Overflow|OFFLINE|false|No|Not\sAvailable)\b/g;
        var reSuccess = /\b(Successfully|successfully|SUCCESSFULLY|OK|ok|Ok|oK|true|TRUE|True|Response|SUCCESS|Success|success|ONLINE|completed)\b/g;
        var reIP = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/g;
        var ips = {}; ///IP dictionary to keep track of succesfull UDP client initiation
        var selected_ips = {};
        var global_counter = 0;
        var checkServer_button = document.getElementById('checkconnectionbutton');
        var serverInit_button = document.getElementById('serverSubmit')
        var output_counter = 0; ///Increasing counter to identify the console output lines. This counter serves as a ID to highlight the keywords.
        var cursor_lock = 0;
        var console_history = new Array(); //// Array that contains commands executed in the console.
        console_history.push("");
        var position = 0; ///Console History iterator
        var unselectButton = document.getElementById('unselectall');
        document.addEventListener('DOMContentLoaded', function() { //// On page load check system for ip file and update Current Selected IPs
            addLine("Welcome to the LINUX CLUSTER MONITOR UDP Server/Client CLI. 'With great power comes great responsability'");
            $.CheckIPMIs();
            call_ignition();
            checkClients()
        }, false);
        function checkClients(){
            if(command_running == false){
                checkClientState("ONLINE");
            }
        }
        function loading_icons(on){ /////Loading dots function ----- take true/false, to turn on or off the loading dots
            if(on){
                global_counter++;
                command_running = true;
                id = "loading" + global_counter;
                addLine("<span id='"+id+"'></span>")
                var span = document.getElementById(id);
                var int = setInterval(function() {
                    if ((span.innerHTML += '.').length == 100) 
                        span.innerHTML = '';
                }, 100);
            }
            else{
                document.getElementById(id).remove();
                command_running = false;
            }
        }
        function submitCommand(command){
            cursor_lock = 1; // lock the cursor when command submitted
            $.sendCommandtoServer(command); /// Pass command as argument to ajax function
        }
        $.sendCommandtoServer = function(command){
            $.ajax({
                url: '/udp_command_start',
                type: 'GET',
                dataType: "JSON",
                data: {command: command}, // Send Command to server to execute
                beforeSend: function(){ ///Write executing to console while sending and retrieving data.
                    addLine("Executing command...... please wait");
                    loading_icons(true);
                },
                success: function(result){ ///Server response and error handling
                    var data = result;
                    console.log(data); ////FOR DEBUG PURPOSESs
                    cursor_lock = 0;
                    loading_icons(false);
                    addLine("Successfully got server response")
                    for (var key in data){  ///// Parse JSON from server. If key == Error display in the below format
                        if (key == "ERROR"){
                            addLine("================= Error ===============================");
                            addLine(data[key]);
                            addLine("================ End of Error =========================");
                        }
                        else{ //// Display the response as a succesful command
                            addLine("============================== Response from " + key +" ================================");
                            for(var token in data[key]){
                                for(var output in data[key][token]){
                                    var line = data[key][token][output];
                                    addLine(line);
                                }
                            }
                            addLine("============================== End of Response from " + key +" =========================");
                            addLine("");
                        }
                    }
                }, /// Ajax error output, rare but neccessary in certain circumstances
                error: function (xhr, textStatus) {
                    loading_icons(false);
                    cursor_lock = 0;
                    addLine("Error: Please select IPs and try again");
                    console.log(xhr);
                }        
            }); 
        }
        function checkClientState(clientState){///// Takes a state to check JSON file produced by the UDP container (latest,START,DONE,OK,ONLINE,RESTART)
            $.check_client_Online(clientState);
        }
        $.check_client_Online = function(clientState){
            $.ajax({
                url: '/check_UDP_clientState', 
                type: 'GET',
                dataType: "JSON",
                data: {state: clientState},
                beforeSend: function(){
                    if(clientState == "latest"){
                        loading_icons(true);
                    }
                },
                success: function(result){
                    var data = result;
                    var error = false;
                    var complete = true;
                    if(clientState == "ONLINE"){
                        for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                            if (key === "ERROR"){ ///If error in key report output to terminal
                                console.log("ERROR: Checking client state " + clientState);
                                break;
                            }
                            else{
                                ips[key] = data[key];
                            }
                        }
                        updateClientStatusTerminal();
                    }
                    else if(clientState == "START" || clientState == "DONE"){
                        addLine("====================== UDP Client Status ======================");
                        for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                            if (key === "ERROR"){ ///If error in key report output to terminal
                                addLine(data[key])
                                addLine("====================== Things you can do ======================")
                                addLine("info: Check UDP client in your systems")
                                addLine("info: Restart your UDP container")
                                error = true;
                                document.getElementById('bench').disabled = true;
                                break;

                            }
                            else{
                                addLine(key + " ...... " + data[key]);
                            }
                        }
                        if(!error && clientState !== "DONE"){
                            checkClientState("DONE");
                        }
                        else{
                            addLine("info: Benchmarks completed!");
                            addLine("info: You can check out the results in the 'UDP Benchmark Results' in the navbar above ")
                        }
                    }
                    else{
                        loading_icons(false);
                        addLine("====================== UDP Client Status ======================");
                        for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                            if (key === "ERROR"){ ///If error in key report output to terminal
                                console.log("ERROR: Checking client state " + clientState);
                                break;
                            }
                            else{
                                addLine(key + " ...... " + data[key]);
                            }
                        }
                    }
                }        
            }); 
        }
        function updateClientStatusTerminal(){
            document.getElementById("status_terminal").innerHTML = "";
            var line = "";
            if(Object.keys(ips).length === 0){
                for(var key in selected_ips){
                    if(selected_ips[key] == "true"){
                        line = ">> " + key + " : OFFLINE";
                        console.log(line);
                    }
                    else{
                        line = "   " + key + " : OFFLINE";
                        console.log(line);
                    }
                    addLine_to_status(line);
                }
            }
            else{
                for(var key in selected_ips){
                    if(selected_ips[key] == "true"){
                        line = ">> " + key + " : " + ips[key];
                        console.log(line);
                    }
                    else{
                        line = "   " + key + " : " + ips[key];
                        console.log(line);
                    }
                    addLine_to_status(line);
                }
            }
        }
        function addLine_to_status(line){
            var line = line.replace(reError,"<span class='error'>$&</span>").replace(reSuccess,"<span class='ok'>$&</span>");
            var line = line.replace(reIP,"<span class='ip'>$&</span>");
            document.getElementById("status_terminal").insertAdjacentHTML('beforeend',"<pre>" +  line + "</pre>" );
        }
        function call_ignition(){
            cursor_lock = 1; // lock the cursor when command submitted
            $.ignite_server();
        }
        $.ignite_server = function(){
            $.ajax({
                url: '/udpserverinitialize', 
                type: 'GET',
                dataType: "JSON",
                beforeSend: function(){ 
                    addLine("info: Sending UDP ignition signal to server...");
                },
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            addLine("Error: /udpserverinitialize sent you an exception");
                            addLine(data[key])
                            complete = false;
                            break;
                        }
                    }
                    if(complete == true){
                        addLine("Checking if ONLINE and updating client status. Please wait...")
                        checkClientState("ONLINE");
                        addLine("Server/Client check complete!")
                    }
                    cursor_lock = 0; // lock the cursor when command submitted
                }        
            }); 
        }
        $.CheckIPMIs = function(){ /// CheckIPMI function, return all bmc_ips managed in the RACK. in the form of {bmc_ip: true/false}. True/false depending on the IP file read.
            $.ajax({
                url: '/checkSelectedIPs?filetype=udpserveruploadip&iptype=os',
                dataType : "JSON",
                type : "GET",
                success: function(result){
                    var data = result;
                    var hasIPs = false;
                    selected_ips = data;
                    addLine('Reading file with selected IPs');
                    for (var key in data){ //// Parse through json and update the IPs in the Current Selected dropdown menu in the nav bar
                        if (data[key] == 'true'){
                            hasIPs = true;
                            addLine('Selecting ' + key + '...');
                        }
                        else{
                            console.log("Removing");
                        }
                    }
                    if (hasIPs === false){
                        unselectButton.classList.add("disabled")
                        addLine('No IPs selected from this Rack');
                    }
                    else{
                        addLine('Current Selected IPs has been updated');
                        unselectButton.classList.remove("disabled")
                    }
                    updateClientStatusTerminal();
                }
            });
        }
        function uploadIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var ipstart = document.getElementById('inputform')['ipstart'].value;
            var ipend = document.getElementById('inputform')['ipend'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            addLine('Getting IP Range from ' + ipstart + ' to ' + ipend);
            $.CallAdvancedInputGenerator(ipstart,ipend,inputtype,iptype);
        }
        $.CallAdvancedInputGenerator = function(ipstart, ipend,inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {ipstart: ipstart, ipend: ipend, inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            addLine('Could not get range from server...');
                            addLine('Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                            addLine(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates succesful execution of the Generator. Report to terminal
                        addLine('Gettting IP range from server....');
                        $.CheckIPMIs();
                    }
                }        
            }); 
        }
        function uploadallIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            addLine('Selecting all the IPs ...');
            $.CallAdvancedAllGenerator(inputtype,iptype);
        }
        $.CallAdvancedAllGenerator = function(inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_all_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            addLine('Could not generate the file...');
                            addLine('Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                            addLine(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates succesful execution of the Generator. Report to terminal
                        addLine('Getting IP range from server...');
                        $.CheckIPMIs();
                    }
                }        
            }); 
        }    
        function uploadFile(){
            var file_name = document.getElementById("file").files[0]['name']; ///Upload file from the form element 'file'
            addLine('Uploading ' + file_name + ' to server...');
            $.UploadFiletoServer();
        }
        $.UploadFiletoServer = function(){
            $.ajax({
                url: '/uploadinputipsfileforall?filetype=udpserveruploadip&iptype=os', 
                type: 'POST',
                data: new FormData($('#fileform')[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Upload Completed, file parsed successfully...');
                $.CheckIPMIs();///Once form has been uploaded and saved by server. Run the CheckIPMI ajax function to read the file from the server and update the Current Selected IPs
                input_field = document.getElementById('file');
                input_field.value = '';
                updateClientStatusTerminal();
                var button = document.getElementById('uploadbutton');
                button.disabled = true;
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Upload Failed...');
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.disabled = true;
            });
        }
        // Clear selected IPs function. Takes a single IP or "all" to unselect all.
        function CallIPCleaner(ip){
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            $.clearIPs(inputtype,ip,iptype);
        }
        $.clearIPs = function(inputtype,ip,iptype){//// Clear IP ajax function to send command and variables to server for processing
            $.ajax({
                url: '/deselectIP', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, ip: ip, iptype: iptype},
                beforeSend: function(){ 
                    addLine('Modifying Selection...');
                },
                success: function(result){
                    var data = result;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key == "SUCCESS"){
                            addLine(data[key]);
                            $.CheckIPMIs(inputtype,iptype);
                            updateClientStatusTerminal();
                        }
                        else{
                            addLine(data[key]);
                        }
                    }
                }        
            }); 
        }  
       ///// Add commmand to history array and update iterator.  
       function addHistory(command){
            console_history.pop();
            if (console_history.length == 0){ /// If history array empty push to array
                console_history.push(command);
            }
            else if(console_history[console_history.length-1] !== command){ // Check if last command in history array is the same as current command.
                console_history.push(command);
            }
            console_history.push("");
            position = console_history.length - 1; ///Position iterator and the end of list whenever a command is entered (LIFO data structure)
        }
        function checkInput() {
            var event = window.event || event.which; 
            if (event.keyCode == 13) { ///// When enter key is entered for console
                var CMD = document.getElementById("textinput").value;
                addHistory(CMD); /// Add command to history array.
                //// Parse command and check for internal console command, if not send to server to process as ipmitool commmand.
                //// INTERNAL CONSOLE COMMANDS ARE HERE!.  Modify or add commands in this area. The else statement sends command to LCM server. ///////////////////////////////
                if (CMD.trim() === ""){ /// For no input.
                    addLine("");
                }                    
                else if(CMD == "clear" ){ /// Clear function clears console output.
                    document.getElementById("console").innerHTML = "";
                    $.CheckIPMIs(inputtype,iptype);
                    document.getElementById("console").insertAdjacentHTML('beforeend',"<p id='inputbar'>/><input id = 'textinput' onkeydown = 'checkInput();'' style='height: min-content; max-width: max-content;''></p>")
                    document.getElementById("console").scrollTop = document.getElementById("console").scrollHeight;
                    PosEnd(document.getElementById('textinput'));
                }
                else if(CMD == "select all" || CMD == "Select all" ){
                    addLine(document.getElementById("textinput").value);
                    uploadallIPs(); /// Select all IPS function
                }
                else if(CMD ==  "help" || CMD == "Help"){
                    addLine(document.getElementById("textinput").value);
                    addLine("-----> Enter 'select all' to select all IPs");
                    addLine("-----> Enter 'unselect all' to unselect all IPs");
                    addLine("-----> Enter 'unselect (ip)' to unselect a IPs");
                    addLine("-----> Enter 'show selected' to show the selected IPs");
                    addLine("-----> Enter 'history' to display console history or history -s (phrase)");
                    addLine("-----> Enter 'clear' to clear the output");
                    addLine("-----> Enter 'check clients' to update client status terminal");
                    addLine("-----> Enter 'send request' to send an h request to clients for initialization");
                    addLine("-----> Enter 'help' to display this message");
                }
                else if(CMD.trim() == "show selected"){
                    addLine(CMD);
                    $.CheckIPMIs(inputtype,iptype);
                }
                else if(CMD.split(" ")[0] =="unselect"){
                    addLine(CMD);
                    let split = CMD.split(" ").filter(element => {
                        if(element !== ""){
                            return true;
                        }
                    });
                    if (split[1] == "all"){
                        CallIPCleaner("all");
                    }
                    else{
                        if (split.length == 2){
                            console.log(split[1]);
                            if(ValidateIPaddress(split[1]) == false){
                                addLine("Enter a valid IP address... or enter 'all' to unselect all")
                            }
                            else{
                                CallIPCleaner(split[1]);
                            }
                        }
                        else{
                            addLine("Please enter unselect in the form of 'unselect <ip>' or 'unselect all'");
                        }
                    }
                }
                else if(CMD.trim() == "check clients"){
                    addLine(CMD);
                    addLine("Checking latest status. Please wait...")
                    checkClientState('latest')
                    checkClients()
                }
                else if(CMD.trim() == "send request"){
                    addLine(CMD);
                    call_ignition();
                }
                else if(CMD.split(" ")[0] == "history"){ /// History function
                    addLine(CMD);
                    let history_options = CMD.split(" ").filter(element => { ///Split history command in an array in the form of [history,-s,sel,list]
                        if(element !== ""){
                            return true;
                        }
                    });
                    if(history_options.length > 1){ ///If length of array is bigger than one, assume user is searching for a command. If not, display ALL history.
                        if(history_options[1] == "-s"){ ///Check if second string in command is '-s' if not through error
                            if (history_options.length == 2){ /// If user only input 'history -s' throw error to user
                                addLine("Please provide search criteria to the console history command: history -s (your search term)");
                            }
                            else{
                                var search_term = "";
                                for(var i = 0; i < history_options.length; i++){ /// Concantenate all the string after '-s' from array ['sel','list'] = "sel list"
                                    if (i > 1){
                                        search_term += history_options[i] + " ";
                                    }
                                }
                                addLine("======================= Console Histroy ============================");
                                for (var i = 0; i < console_history.length; i++){
                                    console.log(console_history[i] + " ===== " + search_term);
                                    if (console_history[i].trim().includes(search_term.trim())){ /// Check if the string are equal and display. Trim() to delete the spaces from outside of the string, but not inbetween.
                                        addLine(i +" "+console_history[i]);
                                    }
                                }
                            }
                        }
                        else{
                            addLine("Invalid option for history commands:");
                            addLine("History commands:");
                            addLine("       -s         Search for phrase in console history");
                        }
                    }
                    else{
                        addLine("======================= Console Histroy ============================");
                        for (var i = 0; i < console_history.length; i++){
                            if(i != console_history.length - 1){
                                addLine(i +" "+console_history[i]);
                            }
                        }
                    }
                }
                else{
                        var command = document.getElementById("textinput").value;
                        addLine(document.getElementById("textinput").value);
                        console.log(document.getElementById("textinput").value);
                        addLine(document.getElementById("textinput").value);
                        submitCommand(command);
                }
            }
            else if (event.keyCode == 27) { ///// When ESC is entered, CMD won't be excuted.
                var CMD = document.getElementById("textinput").value;
                if (CMD.trim() !== ""){ /// For no input.
                    addHistory(CMD);
                }
                addLine(CMD);
                loading_icons(false);
            }
        }
        ////Main console driver. This function adds your output to the console in the form of lines. This function will process your string, format it, and replace the cursor at the end of the console output for a future command.
        ////Do not tamper unless you know what you are doing.
        function addLine(line) {
            if(!line.includes('span')){
                document.getElementById("console").insertAdjacentHTML('beforeend',"<pre id="+ output_counter + ">" + "> " +  line + "</pre>" ); ///Insert string to console with a unique ID
                var sentence = document.getElementById(output_counter); /// Acquire html element with ID
                var text = sentence.textContent; /// Get text from html element
                //// Format key words in the html element's text with REGEX
                let reError = /\b(Failed|FAILED|OFFLINE|failed|ERROR|Error|error|Invalid|INVALID|no|NO|Overflow|false|No|Not\sAvailable|Critical|CRITICAL)\b/g;
                let reSuccess = /\b(Successfully|ONLINE|successfully|SUCCESSFULLY|OK|ok|Ok|oK|true|TRUE|True|Response|SUCCESS|Success|success|done|Done)\b/g;
                let reInfo = /\b(Information|information|INFO|info)\b/g;
                let reIP = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/g;
                let reMAC = /\b(([A-Fa-f0-9]{2}[:|-]){5}[A-Fa-f0-9]{2}[,]?)\b/g;
                let reWarning = /\b(WARNING|Warning|warning)\b/g;
                var replaceWord = text.replace(reError,"<span class='error'>$&</span>").replace(reSuccess,"<span class='ok'>$&</span>").replace(reInfo,"<span class='info'>$&</span>").replace(reWarning,"<span class='warning'>$&</span>");
                var replaceWord = replaceWord.replace(reIP,"<span class='ip'>$&</span>").replace(reMAC,"<span class='ip'>$&</span>")
                sentence.innerHTML = replaceWord; /// Replace string in html element
                output_counter ++; ///Increase unique code identifier by one for next console output. This is a global variable.
            }
            else{
                document.getElementById("console").insertAdjacentHTML('beforeend',"<pre>" + "> " +  line + "</pre>" );
            }
            document.getElementById("textinput").value = ""; /// Set your console input to nothing
            document.getElementById("inputbar").remove(); //Remove the input bar
            document.getElementById("console").insertAdjacentHTML('beforeend',"<pre id='inputbar'>/><input id = 'textinput' spellcheck='false' onkeydown = 'checkInput();' style='height: width: 800px;'></pre>") ///Place at the end of html element console.
            document.getElementById("console").scrollTop = document.getElementById("console").scrollHeight; ///Make console scroll to the where you input is visible automatically
            PosEnd(document.getElementById('textinput'));///Position cursor on the input bar.
        }  
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////
        document.getElementById('file').addEventListener('change', handleFileSelect, false);
        function ValidateIPaddress(ipaddress) { ////Validate IP address format
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\s?$/.test(ipaddress))
            {
                return (true);
            }
            return (false);
        }
        ///Function to move cursor to input bar in console.
        function PosEnd(end) {
            var len = end.value.length;
            // Mostly for Web Browsers
            if (document.getSelection().toString().length == 0 && cursor_lock == 0){ // if nothing selected and nothing running
                end.focus();
            }
            else if (end.createTextRange) {
                var t = end.createTextRange();
                t.collapse(true);
                t.moveEnd('character', len);
                t.moveStart('character', len);
                t.select();
            }
        }
        function addCursor(){
            PosEnd(document.getElementById('textinput'));
        }
        document.addEventListener('keydown', function(e) { ///// UP and DOWN arrow key listeners to scroll through command history
            switch (e.keyCode) {/// Switch statment to process UP AND DOWN. Update iterator according and change the input bar text.
                case 38:///key code 38 is UP arrow
                    if (console_history.length !== 0 && position == 0){ 
                        document.getElementById("textinput").value = console_history[position];
                    }
                    else if(console_history.length == 0){
                        console.log("No history");
                    }
                    else{
                        if(position == console_history.length - 1){
                            position--;
                        }
                        document.getElementById("textinput").value = console_history[position];
                        position--;
                    }
                    PosEnd(document.getElementById('textinput'));
                    break;
                case 40:///key code 40 is DOWN arrow key
                    console.log("Down");
                    if (console_history.length-1 !== position && console_history.length !== 0){
                        position++;
                        document.getElementById("textinput").value = console_history[position];
                    }
                    else if(console_history.length == 1){
                        document.getElementById("textinput").value = console_history[position];
                    }
                    else{
                        console.log("No history");
                    }
                    PosEnd(document.getElementById('textinput'));
                    break;
            }
        });
        function handleFileSelect(evt) {
            var file = document.getElementById("file").files[0];
            input_field = document.getElementById('file');
            var button = document.getElementById('uploadbutton');
            if (file['name'].includes(".txt")){ //// File type must be in .txt format. This avoids erroneos output when parsing data for valid ips
                if (file) {
                    var fileChecker = true;
                    var reader = new FileReader();
                    console.log(file)
                    reader.readAsText(file, "UTF-8");
                    reader.onload = function (evt) {
                        const inputarray = evt.target.result.split("\n");
                        var output = "";
                        for(i = 0; i < inputarray.length; i++ ){
                            if (inputarray[i].split(",").length != 1) {
                                output = output + '<div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>';
                                fileChecker = false
                                continue;
                            }
                            var iparray = inputarray[i].split(",")[0];
                            if (iparray.length == 0){
                                output = output + ' <div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>'
                                fileChecker = false
                                continue;
                            }
                            else {          
                                if (ValidateIPaddress(iparray)){
                                    output = output + iparray + ' <a style="color:green">VALID IP</a><br>';
                                }
                                else {
                                    output = output + iparray + ' <a style="color:red">INVALID IP</a><br>';
                                    fileChecker = false
                                }
                            }   
                        }
                        if (fileChecker){ ////If valid ips found enable the upload button.
                            button.disabled = false;
                        }
                        else{
                            input_field.value = ''; /// If a single invalid ip, disable upload button
                            button.disabled = true;
                        }
                        output = "<strong>FOUND IPMI IP:<br />" + output;
                        document.getElementById("list").innerHTML = output;
                    }
                    reader.onerror = function (evt) {
                        document.getElementById("list").innerHTML = "error reading file";
                        fileChecker = false
                        input_field.value = '';
                        button.disabled = true;
                    }
                }
            }
            else{
                console.log("Wrong file type, only accept .txt");
                output = ' <div style="color:red"> File format incompatible, please upload .txt file !</div>'
                document.getElementById("list").innerHTML = output;
                fileChecker = false;
                input_field.value = '';
                button.disabled = true;
            }
        }        
        document.getElementById('file').addEventListener('change', handleFileSelect, false);
        function ValidateIPaddress(ipaddress) {
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\s?$/.test(ipaddress))
            {
                return (true);
            }
            return (false);
        }
        ////// Session agent for communicating with the LCM server to send session states ////
        var session_auth = "{{ session_auth }}";
        window.addEventListener('beforeunload', function (e) {
            var agentForm = new FormData();
            var state = 'inactive'
            agentForm.append("session_state",state)
            agentForm.append("session_guid",session_auth)
            navigator.sendBeacon("/udp_session_handler", agentForm);
        });
    </script>
</body>
</html>