<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Benchmark Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="static/icons/css/all.css" rel="stylesheet">
    <!-- For pdf excel copy -->
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
        text-align: center;
        }
        .table td {
        text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
<ul class="navbar-nav">
    <li class='nav-item'>
        <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-home"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('index') }}" target="_blank">{{rackname}} Monitor</a>
            <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
        </div>
    </li>

    <li class='nav-item'>
        <a class="btn btn-primary btn-lg text-white"  href="{{ url_for('udpserverupload') }}" role="button">
        <i class="fas fa-tv"></i>
        </a>
    </li>    
    <li class='dropdown'>
        <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            UDP SERVER
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Beta Version 1.0</a> 
        </div>
    </li>
    {% include "advancedfeatures_menu.html" %}
    <li class='nav-item'>
        <a class="btn btn-primary btn-lg text-warning font-weight-bold"  href="{{ url_for('downloadClusterReport') }}" role="button">
        CLUSTER REPORT
        </a>
    </li>
    
    <li class='nav-item'>
        <a class="btn btn-primary btn-lg text-warning font-weight-bold"  href="javascript:void(0)" role="button" onclick="auto_select()">
        AUTO-SELECT
        </a>
    </li>
    
    
    <li class="dropdown">
        <button class="btn btn-primary dropdown-toggle text-warning font-weight-bold btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            UNSELECT
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)"  onclick="unselect_all()">UNSELECT ALL</a>
                <a class="dropdown-item" href="javascript:void(0)"  onclick="unselect_failed()">UNSELECT ALL FAILED</a>
            </div>
    </li>
    
    <li class='dropdown'>
        <button class="btn pull-right btn-primary btn-lg mr-1 text-white" type="button" id="clock" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">This is the local time of docker container.</a> 
            </div>
    </li>
    
    <li class='nav-item'>
        <button class="btn pull-right btn-primary btn-lg mr-1 text-white font-weight-bold" type="button" id="parse_benchmark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="trigger_bm()">
            LOAD BENCHMARK DATA
        </button>
    </li>
    
    <li class='nav-item'>
        <button class="btn pull-right btn-primary btn-lg mr-1 text-white font-weight-bold" type="button" id="delete_all_data" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="trigger_del_all()">
            DELETE BENCHMARK DATA
        </button>
    </li>
    
</ul>
</nav>

<div class="jumbotron bg-infor" style="margin: 0rem; padding-top: 10px; padding-right: 5px; padding-left: 5px; padding-bottom: 10px;" >
<table id="indexpage" class="table table-bordered table-striped" style="width:100%">
    <thead class="thead-dark" >
        <th class="align-middle" >CHECK</th>
        <th class="align-middle" >ID</th>
        <th class="align-middle" >HOSTNAME</th>
        <th class="align-middle" >IPMI</th>
        <th class="align-middle" >OS IP</th>
        <th class="align-middle" >START TIME</th>
        <th class="align-middle" >END TIME</th>
        <th class="align-middle" >COMMAND</th>
        <th class="align-middle" >BENCHMARK</th>
        <th class="align-middle" >RESULT</th>
        <th class="align-middle" >DOWNLOAD LOG FILE</th>
        <th class="align-middle" >FILE SIZE (bytes)</th>
        <th class="align-middle" >CONCLUSION</th>
        <th class="align-middle" >DELETE</th>
    </thead>
    <tbody>
        {% for star, mac, ipmi, os_ip, start_date, done_date, cmd, bm, size, result, id, file_name, conclusion in data %}
            <tr>
            
            <td class="align-middle font-weight-bold" >
            {% if star == 1 %}
            <a class="fas fa-check-square text-success" href="javascript:void(0)" id= "{{id}}" style="font-size:25px; text-decoration:none" onclick="toggle_star('{{id}}')">
            </a>
            {% else %}
            <a class="fas fa-check-square text-white" href="javascript:void(0)" id= "{{id}}" style="font-size:25px; text-decoration:none" onclick="toggle_star('{{id}}')">
            </a>
            {% endif %}
            </td>
            <td class="align-middle font-weight-bold" >{{ loop.index }}</td>
            <td class="align-middle font-weight-bold text-primary" >{{ mac }}</td>
            <td class="align-middle font-weight-bold text-primary" >{{ ipmi }}</td>
            <td class="align-middle font-weight-bold text-primary" >{{ os_ip }}</td>
            <td class="align-middle font-weight-bold text-primary" >{{ start_date }}</td>
            <td class="align-middle font-weight-bold text-primary" >{{ done_date }}</td>
            <td class="align-middle font-weight-bold text-success" >{{ cmd }}</td> 
            <td class="align-middle font-weight-bold text-success" >{{ bm }}</td>
            {% if conclusion == "PASS" %}
            <td class="align-middle font-weight-bold text-success" >{{ result }}</td>
            {% elif conclusion == "FAILED" %}
            <td class="align-middle font-weight-bold text-danger" >{{ result }}</td>
            {% else %}
            <td class="align-middle font-weight-bold text-dark" >{{ result }}</td>
            {% endif %}
            <td class="align-middle font-weight-bold" >
            <a class="fas fa-file-alt" href="{{ url_for('udpsendlogfile') }}?var={{ id }}" style="font-weight-bold text-primary">&nbsp {{ file_name }}</a>
            </td>
            <td class="align-middle font-weight-bold text-primary" >{{ size }}</td>
            {% if conclusion == "PASS" %}
            <td class="align-middle font-weight-bold text-success" >{{ conclusion }}</td>
            {% elif conclusion == "FAILED" %}
            <td class="align-middle font-weight-bold text-danger" >{{ conclusion }}</td>
            {% else %}
            <td class="align-middle font-weight-bold text-dark" >{{ conclusion }}</td>
            {% endif %}
            <td class="align-middle font-weight-bold" >
            <a class="fas fa-trash-alt" href="javascript:void(0)" id= "del_{{id}}" style="font-weight-bold text-danger" onclick="trigger_del_one('{{id}}')"></a>
            </td>
            
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

 
{% include "footer.html" %}
<script>
        function startTime() {
            var today = new Date()
            //today.setHours(today.getHours() + 7) // adjust time
            var year = today.getYear() + 1900;
            var month = today.getMonth() + 1;
            var day = today.getDate();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            year = checkTime(year);
            month = checkTime(month);
            day = checkTime(day);
            h = checkTime(h);
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML = year + "-" + month + "-" + day + " " + h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
        startTime();
        
    $(document).ready(function() {
        $('#indexpage').DataTable( {
            "lengthMenu": [[-1], ["All"]],
            "pageLength" : -1,
            dom: "<Bfr<t><'row'<'col-md-6'l><'col-md-6'p>>>", 
            stateSave: true,
            buttons: [
                       'colvis','excel','copy'
            ],
        } );
    } );
    
    var ids = {{ids | tojson}};
    console.log(ids);
    $('body .dropdown-toggle').dropdown(); 
    function auto_select(){
        $.auto_star();
    }
    $.auto_star = function(){
        $.ajax({
            url: '/udpunautostar',
            dataType : "JSON",
            type : "GET",
            success: function(result){
                var data = result; 
                for(var i = 0; i < ids.length; i++){
                    document.getElementById(ids[i]).classList = "fas fa-check-square text-white";
                }
                for(var key in data){
                    console.log(data[key]);
                    if(data[key] == "FAILED"){
                        for(var i = 0; i < ids.length; i++){
                            document.getElementById(ids[i]).classList = "fas fa-exclamation-circle text-danger";
                        }
                    }
                    else{
                        document.getElementById(data[key]).classList = "fas fa-check-square text-success";
                    }

                }
            }
        });
    }
    function unselect_failed(){
        $.unstar_failed();
    }
    $.unstar_failed = function(){
        $.ajax({
            url: '/udpunstarfailedobject',
            dataType : "JSON",
            type : "GET",
            success: function(result){
                var data = result;
                for(var key in data){
                    console.log(data[key]);
                    if(data[key] == "FAILED"){
                        for(var i = 0; i < ids.length; i++){
                            document.getElementById(ids[i]).classList = "fas fa-exclamation-circle text-danger";
                        }
                    }
                    else{
                        document.getElementById(data[key]).classList = "fas fa-check-square text-white";
                    } 
                }
            }
        });
    }
    function unselect_all(){
        $.unstar_all();
    }
    $.unstar_all = function(){
        $.ajax({
            url: '/udpunstarallobject',
            dataType : "JSON",
            type : "GET",
            success: function(result){
                var data = result;
                for(var key in data){
                    console.log(data[key]);
                    if(data[key] == "success"){
                        
                        for(var i = 0; i < ids.length; i++){
                            console.log(ids[i]);
                            document.getElementById(ids[i]).classList = "fas fa-check-square text-white";
                        }
                    }
                    else{
                        for(var i = 0; i < ids.length; i++){
                            document.getElementById(ids[i]).classList = "fas fa-exclamation-circle text-danger";
                        }
                    } 
                }
            }
        });
    }
    function toggle_star(id){
        $.toggle_os(id);
    }
    $.toggle_os = function(id){
        $.ajax({
            url: '/udpstarobject',
            data: {id: id},
            dataType : "JSON",
            type : "GET",
            success: function(result){
                var data = result;
                for(var key in data){
                    if(data[key] == 1){
                        document.getElementById(key).classList = "fas fa-check-square text-success";
                    } 
                    else if(data[key] == -1){
                        document.getElementById(key).classList = "fas fa-check-square text-white";
                    }
                    else{
                        document.getElementById(key).classList = "fas fa-exclamation-circle text-danger";
                    }
                }
            }
        });
    }
    
    
        function trigger_bm(){
            $.call_bm_script();
        }
        $.call_bm_script = function(){
            $.ajax({
                url: '/benchmark_result_parser',
                dataType : "JSON",
                type : "GET",
                beforeSend: function(){ ///Write executing to button while sending and retrieving data.
                    console.log("Executing benchmark parser...");
                    var button = document.getElementById("parse_benchmark");
                    document.getElementById("parse_benchmark").innerHTML = "Loading ...";
                    if(!button.classList.replace("btn-primary","btn-info")) {
                        if(!button.classList.replace("btn-danger", "btn-info")){
                            button.classList.replace("btn-success", "btn-info")
                        }
                    }
                },
                success: function(result){
                    var data = result;
                    var button = document.getElementById("parse_benchmark");                   
                    for(var key in data){
                        console.log(key);
                        console.log(data[key]);
                    }
                    if(data['Insert Status'] == "success"){
                        button.classList.replace("btn-info","btn-success")
                        button.innerHTML = "INSERT DONE";
                        window.location.reload();
                    }
                    else{
                        console.log(key + ": " + data[key]);
                        button.classList.replace("btn-info","btn-danger")
                        button.innerHTML = "INSERT FAILED";
                    } 
                }
            });
        }

        function trigger_del_all(){
            $.call_delall_script();
        }
        $.call_delall_script = function(){
            $.ajax({
                url: '/udpdeleteallobject',
                dataType : "JSON",
                type : "GET",
                beforeSend: function(){ ///Write executing to button while sending and retrieving data.
                    console.log("Deleting Benchmark Data...");
                    var button = document.getElementById("delete_all_data");
                    button.innerHTML = "Loading ...";
                    if(!button.classList.replace("btn-primary","btn-info")) {
                        if(!button.classList.replace("btn-danger", "btn-info")){
                            button.classList.replace("btn-success", "btn-info")
                        }
                    }
                },
                success: function(result){
                    var data = result;
                    var button = document.getElementById("delete_all_data");                   
                    for(var key in data){
                        console.log(key);
                        console.log(data[key]);
                    }
                    if(data['Status'] == "success"){
                        button.classList.replace("btn-info","btn-success")
                        button.innerHTML = "DELETE DONE";
                        window.location.reload();
                    }
                    else{
                        console.log(key + ": " + data[key]);
                        button.classList.replace("btn-info","btn-danger")
                        button.innerHTML = "DELETE FAILED";
                    } 
                }
            });
        }

        function trigger_del_one(id){
            $.call_delone_script(id);
        }
        $.call_delone_script = function(id){
            $.ajax({
                url: '/udpdeleteobject',
                data: {'var': id},
                dataType : "JSON",
                type : "GET",
                success: function(result){
                    var data = result;
                    var button = document.getElementById(data['ID']);                   
                    for(var key in data){
                        console.log(key);
                        console.log(data[key]);
                    }
                    if(data['Status'] == "success"){                   
                        console.log("success delete");
                        button.classList.replace("fa-trash-alt","fa-check")
                        window.location.reload();
                    }
                    else{
                        console.log("Delete failed");
                        console.log(key + ": " + data[key]);
                        button.classList.replace("fa-trash-alt","fa-circle-exclamation")
                    } 
                }
            });
        }


</script>
</body>
</html>

