<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>udpsercercontroller</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc21244e72.js" crossorigin="anonymous"></script>
</head>
<style>
    ul span {
        color: green;
    }
    hr.dotted {
        border-top: 3px dotted #0275d8;
    }
    hr.solid {
        border-top: 3px solid #0275d8;
    }
    /* Background contains everything that is the console */
    #background {
        position: fixed;
        background-color: black;
        width: 800px;
        height: 350px;
        max-height: 600px;
        overflow-y: auto;
        text-align: left;
    }
    .terminal{
        background-color: black;
        color: chartreuse;
        width: 70%;
        padding: 10px;
        border: 2px solid greenyellow;
        font-weight: normal;
        margin-left: 0%;
        height: 500px;
        border-radius: 15px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    /* Console output formatting */
    pre {
        color: rgb(255, 255, 255);
        margin: 0px 0px 0px 0px;
    }
    /* More console input formatting to make input box larger */
    input#textinput {
        width: 950px;
    }
    /* CSS classes for key word highlighting in the console output */
    .error{
        color:red;
    }
    .ok{
        color:chartreuse;
    }
    .info{
        color:aqua;
    }
    .ip{
        color:#FF00FF;
        font-weight:bold;
    }
    .warning{
        color: orange;
    }
    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 10px;
        background-color: rgb(2, 163, 2);
    }
    #overlay {
        position:fixed;
        display: block;
        top: 14%; right: 5%;
        text-align: left;   
    }
    body {
        font-family: "Lato", sans-serif;
        transition: background-color .5s;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(43, 109, 250);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav a {
        padding: 8px 8px 8px 20px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    ul li::marker {
        color: white;
        font-size: 1.5em;
    }
</style>
<body>
    <nav class="navbar navbar-expand-md navbar-primary bg-primary">
        <div class="container-fluid">	 
            <ul class="navbar-nav">
                <li class='nav-item'>
                    <button class="btn btn-primary dropdown-toggle btn-lg mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{rackobserverurl}}" target="_blank">Rack Observer</a>
                        {% for url in frontend_urls %}
                            <a class="dropdown-item" href="{{ url[1] }}" target="_blank"> {{url[0]}} Monitor</a>
                        {% endfor %}
                    </div>
                </li>
                <li class='dropdown'>
                    <button class="btn btn-primary dropdown-toggle btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-broadcast-tower"></i>
                    </button>
                    <div class="dropdown-menu dropright" aria-labelledby="dropdownMenuButton">
                        {% for url in frontend_urls %}
                            <a class="dropdown-item" href="{{ url[1] }}/udpserverupload" target="_blank"> {{url[0]}} UDP Server Deployment</a>
                        {% endfor %}
                    </div>
                </li>
                <li class='dropdown'>
                    <a class="btn btn-primary btn-lg mr-1 text-uppercase font-weight-bold text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    UDP SERVER
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Beta Version 1.0</a> 
                    </div>
                </li>
                <li class='nav-item'>
                    <a class="btn btn-primary btn-lg text-white"  href="{{ url_for('udpoutput') }}" role="button">
                    UDP Benchmark Results
                    </a>
                </li>
                <li class='nav-item'>
                    <a class="btn btn-primary btn-lg text-white"  href="{{ url_for('hardware_output') }}" role="button">
                    Hardware Database
                    </a>
                </li>
                <li class='dropdown'>
                    <a class="btn btn-primary btn-lg mr-1 text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Current Selected OS IPs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for ip, indicator in data %}
                        {% if indicator == 1 %}
                            <a class="dropdown-item text-success font-weight-bold" id="{{ip}}">{{ ip }}</a>
                        {% else %}
                            <a class="dropdown-item" id="{{ip}}">{{ ip }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% include "advancedfeatures_menu.html" %}
                {% include "documentationButton.html" %}
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div style="margin-bottom:25%; color: #ffffff; align-items: center;">
                        <h4 style="text-align: center;"> Auto-Fill Benchmarks </h4>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <div id= "div1" style="align-items: center;">
                            <div style="padding: 2%;" style="align-items: center;">
                                <button type="button" class="btn btn-info btn-small btn-block font-weight-bold " id="Stress-NG"  onclick="(choose_benchmark('Stress-NG'))" >Stress-NG</button>
                            </div>
                            <div style="padding: 2%;" style="align-items: center;">
                                <button type="button"class="btn btn-info btn-small btn-block font-weight-bold " id="StressAppTest"  onclick="(choose_benchmark('StressAppTest'))" >StressAppTest</button>
                            </div>
                            <div style="padding: 2%;">
                                <button type="button"class="btn btn-info btn-small btn-block font-weight-bold "  id="xHPL"  onclick="(choose_benchmark('xHPL'))" >xHPL</button>
                            </div>
                            <div style="padding: 2%;">
                                <button type="button"class="btn btn-info btn-small btn-block font-weight-bold "  id="GPU_Burn"  onclick="(choose_benchmark('GPU_Burn'))" >GPU Burn</button>
                            </div>
                            <div style="padding: 2%;">
                                <button type="button" class="btn btn-info btn-small btn-block font-weight-bold " id="xHPCG"  onclick="(choose_benchmark('xHPCG'))" >xHPCG</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <div class="d-flex ms-auto order-5">
                <button type="button" class="btn btn-info btn-lg" id="display_info"  onclick="openNav()"> <span class='fas fa-angle-left'></span> Quick Benchmarks</button>
            </div>
        </div>
    </nav>
    <div class="jumbotron bg-infor" style="margin: 0rem; padding: 25px;" >
        <div class ="row">
            <div class="col-auto">
                <form id = "fileform">
                    <div class="form-group">
                        <h3><u class="font-weight-bold text-primary">STEP 1:</u> Config Input IPs</h3>
                        <br>
                        <h4>Option 1: Upload a text file of the OS IPs</h4>
                        <label>Choose your text file</label>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="file" id="file" required>
                            <small id="help" class="form-text text-muted">Please upload a text file of <u>VALID</u> OS IPs.
                            </small>
                            <output id="list"></output>
                        </div>
                    </div>
                </form>
                <button id="uploadbutton" class="btn btn-primary" disabled onclick="uploadFile()">UPLOAD FILE</button>                                    
                <small id="help0" class="form-text text-muted">File will be uploaded into local server.</small>
                <br>
                <form id = "inputform">
                    <div class="form-group">
                        <h4>Option 2: Input IPs</h4>
                        <label>Input IP range</label>
                        <div class ="row">
                            <div class="col-auto">
                                <input class="form-control" type="text" name ="ipstart" id="ipstart" placeholder="IP starts from (Included)" required>
                            </div>
                            <div class="col-auto">
                                <input class="form-control" type="text" name ="ipend" id="ipend" placeholder="IP ends (Not included)" required>
                            </div>
                                <input type="hidden" id="inputtype" name="inputtype" value="udpserveruploadip">
                                <input type="hidden" id="redirectpage" name="redirectpage" value="udpserverupload">
                                <input type="hidden" id="iptype" name="iptype" value="os">
                                <input type="hidden" id="ip" name="ip" value="all">
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary" id="uploadRange" onclick="uploadIPs()">SELECT RANGE</button>                                        
                <button  class="btn btn-primary" id="uploadall" onclick="uploadallIPs()">SELECT ALL</button>  
                <a id="unselectall" class="btn btn-warning text-white disabled" name="unselectall" onclick="CallIPCleaner()">UNSELECT ALL</a> 
            </div>
            <div class="col" style="padding-left: 10%; font-weight: bolder;">
                Terminal Output :
                <div class="col-auto scroll terminal" id = "upload_terminal">
                </div>
            </div>
        </div>
        <!----- Step 2 ------------------------------------------------------------------------------------------------------------------------>
        <hr class="solid">
        <div class ="row">
            <div class="col">
                <form id = "serverInit">
                    <h3><u class="font-weight-bold text-primary">STEP 2:</u> Initialize Target Clients</h3>
                    <small id="help0" class="form-text text-muted">Request target clients to send h signal back.</small>
                    <br>
                </form>
                <button id="serverSubmit" type="submit" class="btn btn-primary" onclick="call_ignition()">SEND REQUEST</button>
            </div>
            <div class="col">
                <form id = "checkonline">
                    <h3><u class="font-weight-bold text-primary">Optional:</u> Check Connections</h3>
                    <small id="help5" class="form-text text-muted">Check connections between server and client.</small>
                    <br>
                </form>
                <button id="checkconnectionbutton" type="submit" class="btn btn-primary" onclick="checkClientState('latest')">CHECK CONNECTIONS</button>
            </div>
        </div>
         <!----- Step 3 ------------------------------------------------------------------------------------------------------------------------>
        <hr class="solid">
        <div class ="row">
            <div class="col">
                <form id = "BenchmarkInput">
                    <h3><u class="font-weight-bold text-primary">STEP 3 Optional:</u> Upload Benchmark Input</h3>
                    <br>
                    <h4>Input File Upload</h4>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="bminputfile" id="bminputfile" required>
                            <small id="help1" class="form-text text-muted">Please upload the necessary input files before running benchmark</small>
                            <br>                            
                        </div>
                </form>
                <button  type="submit" class="btn btn-primary" onclick="uploadBenchmark('bminputfile','bench_input')" id="bench_input" target="_blank">UPLOAD</button>
            </div>
            <div class="col">
                <form id = "Benchmark">
                    <h3><u class="font-weight-bold text-primary">STEP 3:</u> Run Benchmarks</h3>
                    <br>
                    <h4>Config File Upload</h4>
                        <div class="custom-file">
                            <input type="file" class="form-control-file form-primary" name="inputfile" id="inputfile" required>
                            <small id="help2" class="form-text text-muted">Please upload the configs for running benchmarks</small>
                            <output id="dict"></output>
                            <br>                            
                        </div>
                </form>
                <button type="submit" class="btn btn-primary" id="bench"  onclick="uploadBenchmark('inputfile','bench')" target="_blank">RUN BENCHMARK</button>
            </div>
        </div>
         <!----- Step 4 ------------------------------------------------------------------------------------------------------------------------>
        <hr class="solid">
        <div class ="row">
            <div class="col">
                <h3><u class="font-weight-bold text-primary">STEP X:</u> Insert Hardware Data</h3>
                <small id="help3" class="form-text text-muted">Insert hardware data from folder to Database</small>
                <br>
                <button id="parse_hardware" type="button" class="btn btn-primary" onclick="trigger_hw()">
                    INSERT DATA
                </button>               
            </div>
            <div class="col">
                <h3><u class="font-weight-bold text-primary">STEP X:</u> Insert Benchmark Data</h3>
                <small id="help4" class="form-text text-muted">Insert benchmark data from folder to Database</small>
                <br>
                <button id="parse_benchmark" type="button" class="btn btn-primary" onclick="trigger_bm()">
                    INSERT DATA
                </button>               
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">
        const benchmarks = ['GPU_Burn','Stress-NG','StressAppTest','xHPL','xHPCG'];
        function openNav() {
            document.getElementById("mySidenav").style.width = "18%";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.body.style.backgroundColor = "white";
        }
        var session_auth = "{{ session_auth }}";
        var ips = {}; ///IP dictionary to keep track of succesfull UDP client initiation
        global_counter = 0;
        var checkServer_button = document.getElementById('checkconnectionbutton');
        var serverInit_button = document.getElementById('serverSubmit')
        var terminal = document.getElementById('upload_terminal'); //// terminal window to insert output
        var unselectButton = document.getElementById('unselectall');
        var reError = /\b(Failed|FAILED|failed|ERROR|Error|error|Invalid|INVALID|no|NO|Overflow|false|No|Not\sAvailable)\b/g;
        var reSuccess = /\b(Successfully|successfully|SUCCESSFULLY|OK|ok|Ok|oK|true|TRUE|True|Response|SUCCESS|Success|success|ONLINE|completed)\b/g;
        var reWarning = /\b(WARNING|Warning|warning)\b/g;
        var reInfo = /\b(Information|information|INFO|info)\b/g;
        var reIP = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/g;
        document.addEventListener('DOMContentLoaded', function() { //// On page load check system for ip file and update Current Selected IPs
            $.CheckIPMIs();
            checkServer_button.disabled = true;
            serverInit_button.disabled = true;
            document.getElementById('bench').disabled = true;
        }, false);
        function loading_icons(on_off){ /////Loading dots function ----- take true/false, to turn on or off the loading dots
            if(on_off){
                global_counter++;
                id = "loading" + global_counter;
                addLine("<span id='"+id+"'></span>")
                var span = document.getElementById(id);
                var int = setInterval(function() {
                    if ((span.innerHTML += '.').length == 25) 
                        span.innerHTML = '';
                }, 100);
            }
            else{
                document.getElementById(id).remove();
            }
        }
        function disableAllButtons(on_off){
            if(on_off){
                checkServer_button.disabled = true;
                serverInit_button.disabled = true;
                unselectButton.disabled = true;
                document.getElementById('uploadRange').disabled = true;
                document.getElementById('uploadall').disabled = true;
                document.getElementById('file').disabled = true;
                document.getElementById('ipstart').disabled = true;
                document.getElementById('ipend').disabled = true;
                document.getElementById('bminputfile').disabled = true;
                document.getElementById('bench_input').disabled = true;
                document.getElementById('inputfile').disabled = true;
                document.getElementById('bench').disabled = true;
                for(var i = 0; i < benchmarks.length; i++){
                    document.getElementById(benchmarks[i]).disabled = true;
                }
            }
            else{
                checkServer_button.disabled = false;
                serverInit_button.disabled = false;
                unselectButton.disabled = false;
                document.getElementById('uploadRange').disabled = false;
                document.getElementById('uploadall').disabled = false;
                document.getElementById('file').disabled = false;
                document.getElementById('ipstart').disabled = false;
                document.getElementById('ipend').disabled = false;
                document.getElementById('bminputfile').disabled = false;
                document.getElementById('bench_input').disabled = false;
                document.getElementById('inputfile').disabled = false;
                document.getElementById('bench').disabled = false;
                for(var i = 0; i < benchmarks.length; i++){
                    document.getElementById(benchmarks[i]).disabled = false;
                }
            }
        }
        function checkClientState(clientState){///// Takes a state to check JSON file produced by the UDP container (latest,START,DONE,OK,ONLINE,RESTART)
            if(clientState == "START"){
                $.check_client_Online(clientState,20000);
            }
            else{
                $.check_client_Online(clientState,99999999999999) 
            }
        }
        $.check_client_Online = function(clientState,timeout){
            $.ajax({
                url: '/check_UDP_clientState', 
                type: 'GET',
                dataType: "JSON",
                timeout: timeout,
                data: {state: clientState},
                beforeSend: function(){ 
                    semaphore = true; 
                    loading_icons(true);
                },
                success: function(result){
                    var data = result;
                    var error = false;
                    var complete = true;
                    loading_icons(false);
                    semaphore == false;
                    if(clientState == 'latest'){
                        addLine("====================== UDP Client Status ======================");
                        for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                            if (key === "ERROR"){ ///If error in key report output to terminal
                                addLine(data[key])
                                addLine("====================== Things you can do ======================")
                                addLine("info: Check UDP client in your systems")
                                addLine("info: Restart your UDP container")
                                error = true;
                                break;
                            }
                            else{
                                ips[key] = data[key];
                                addLine(key + " ...... " + data[key]);
                            }
                        }
                    }
                    else if(clientState == "START" || clientState == "DONE"){
                        if(clientState == "START"){
                            disableAllButtons(true);
                        }
                        else{
                            disableAllButtons(false);
                        }
                        addLine("====================== UDP Client Status ======================");
                        for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                            if (key === "ERROR"){ ///If error in key report output to terminal
                                addLine(data[key])
                                addLine("====================== Things you can do ======================")
                                addLine("info: Check UDP client in your systems")
                                addLine("info: Restart your UDP container")
                                error = true;
                                document.getElementById('bench').disabled = true;
                                break;

                            }
                            else{
                                ips[key] = data[key];
                                addLine(key + " ...... " + data[key]);
                            }
                        }
                        if(!error && clientState !== "DONE"){
                            checkClientState("DONE");
                        }
                        else{
                            addLine("info: Benchmarks completed!");
                            addLine("info: You can check out the results in the 'UDP Benchmark Results' in the navbar above ")
                        }
                    }
                    else{
                        for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                            if (key === "ERROR"){ ///If error in key report output to terminal
                                addLine(data[key])
                                addLine("====================== Things you can do ======================")
                                addLine("info: Check UDP client in your systems")
                                addLine("info: Restart your UDP container")
                                error = true;
                                break;
                            }
                            else if(data[key].includes(clientState)){
                                ips[key] = clientState;
                                addLine(key + " ...... " + data[key]);
                            }
                            else{
                                addLine(key + " ...... " + data[key]);
                                ips[key] = "OFFLINE";
                            }
                        }
                        for(var key in ips){
                            if(ips[key] == "OFFLINE"){
                                complete  = false;
                            }
                        }
                        if(!error && complete){
                            addLine("SUCCESS: All selected servers are " + clientState)
                            if (clientState == "ONLINE"){ ///// IF Online was found in the JSON file, send another request with "OK" as the client State. If OK in the JSON logs, servers have complete their initial handshake
                                addLine("info: checking  UDP server/client complete handshake, hang tight this may take several seconds...");
                                checkClientState("OK");
                            }
                            checkServer_button.disabled = false;
                            serverInit_button.disabled = false;
                        }
                        else if(!complete && !error){
                            addLine("ERROR: Failed to initiate one or more servers, check your clients' UDP Client.");
                        }
                    }
                },
                error: function(request, status, err) {
                    loading_icons(false);
                    disableAllButtons(false);
                    if (status == "timeout") {
                        addLine('Error: No response from UDP Client');
                        addLine('Timeout waiting for response: ' + clientState);
                    } 
                    else {
                        alert("Error: " + request + status + err);
                    }
                }    
            }); 
        }
        function call_ignition(){
            terminal.innerHTML = "";
            $.ignite_server();
        }
        $.ignite_server = function(){
            $.ajax({
                url: '/udpserverinitialize', 
                type: 'GET',
                dataType: "JSON",
                beforeSend: function(){ 
                    loading_icons(true);
                    addLine("info: Sending UDP ignition signal to server...");
                },
                success: function(result){
                    var data = result;
                    var complete = true;
                    loading_icons(false);
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            addLine(data[key]);
                            complete = false
                        }
                        else{
                            addLine(data[key]);
                        }
                    }
                    if(complete == true){
                        $.check_client_Online("ONLINE");
                        console.log(true);
                    }
                }        
            }); 
        }
        $.CheckIPMIs = function(){ /// CheckIPMI function, return all bmc_ips managed in the RACK. in the form of {bmc_ip: true/false}. True/false depending on the IP file read.
            $.ajax({
                url: '/checkSelectedIPs?filetype=udpserveruploadip&iptype=os',
                dataType : "JSON",
                type : "GET",
                success: function(result){
                    var data = result;
                    var hasIPs = false;
                    ips = data;
                    addLine('Reading file with selected IPs');
                    for (var key in data){ //// Parse through json and update the IPs in the Current Selected dropdown menu in the nav bar
                        var ip = document.getElementById(key)
                        console.log(key);
                        if (data[key] == 'true'){
                            hasIPs = true;
                            ip.classList.add("text-success");
                            ip.classList.add("font-weight-bold");
                            addLine('Selecting ' + key + '...');
                        }
                        else{
                            ip.classList.remove("text-success");
                            ip.classList.remove("font-weight-bold");
                        }
                    }
                    if (hasIPs === false){
                        checkServer_button.disabled = true;
                        serverInit_button.disabled = true;
                        unselectButton.classList.add("disabled")
                        addLine('No IPs selected from this Rack');
                    }
                    else{
                        addLine('Current Selected IPs has been updated');
                        unselectButton.classList.remove("disabled")
                        serverInit_button.disabled = false;
                        checkServer_button.disabled = false;
                    }
                }
            });
        }
        function uploadIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var ipstart = document.getElementById('inputform')['ipstart'].value;
            var ipend = document.getElementById('inputform')['ipend'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            terminal.innerHTML = "";
            addLine('Getting IP Range from ' + ipstart + ' to ' + ipend);
            $.CallAdvancedInputGenerator(ipstart,ipend,inputtype,iptype);
        }
        $.CallAdvancedInputGenerator = function(ipstart, ipend,inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {ipstart: ipstart, ipend: ipend, inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            addLine('Could not get range from server...');
                            addLine('Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                            addLine(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates succesful execution of the Generator. Report to terminal
                        addLine('Gettting IP range from server....');
                        $.CheckIPMIs();
                    }
                }        
            }); 
        }
        function uploadallIPs(){ //// Uploads 4 varibles from the input form and passes them in the URL
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            terminal.innerHTML = "";
            addLine('Selecting all the IPs ...');
            $.CallAdvancedAllGenerator(inputtype,iptype);
        }
        $.CallAdvancedAllGenerator = function(inputtype,iptype){
            $.ajax({
                url: '/advanceinputgenerator_all_ajaxVersion', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, iptype: iptype}, // Send the variables to create a IP file.
                success: function(result){
                    var data = result;
                    var complete = true;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key === "ERROR"){ ///If error in key report output to terminal
                            console.log(data[key]);
                            complete = false;
                            addLine('Could not generate the file...');
                            addLine('Server response: ' + data[key]);
                            break;
                        }
                        else{
                            console.log(data[key]);
                            addLine(data[key]);
                        }
                    }
                    if(complete === true){  /// Variable complete was not switch to false, which indicates succesful execution of the Generator. Report to terminal
                        addLine('Getting IP range from server...');
                        $.CheckIPMIs();
                    }
                }        
            }); 
        }    
        function uploadFile(){
            terminal.innerHTML = "";
            var file_name = document.getElementById("file").files[0]['name']; ///Upload file from the form element 'file'
            addLine('Uploading ' + file_name + ' to server...');
            $.UploadFiletoServer();
        }
        $.UploadFiletoServer = function(){
            $.ajax({
                url: '/uploadinputipsfileforall?filetype=udpserveruploadip&iptype=os', 
                type: 'POST',
                data: new FormData($('#fileform')[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Upload Completed, file parsed successfully...');
                $.CheckIPMIs();///Once form has been uploaded and saved by server. Run the CheckIPMI ajax function to read the file from the server and update the Current Selected IPs
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.disabled = true;
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Upload Failed...');
                input_field = document.getElementById('file');
                input_field.value = '';
                var button = document.getElementById('uploadbutton');
                button.disabled = true;
            });
        }
        function uploadBenchmark(input_id, button_id){
            if(quickBenchLoaded == true){
                terminal.innerHTML = "";
                document.getElementById('bench').disabled = true;
                quickBenchLoaded = false;
                start_bench("Benchmark",'benchmark');
            }
            else{
                terminal.innerHTML = "";
                try {
                    var file_name = document.getElementById(input_id).files[0]['name']; ///Upload file from the form element 'file'
                } 
                catch (e) {
                    console.log(e);
                    addLine("No file uploaded");
                }
                addLine('Uploading Benchmark: ' + file_name + ' to server...');
                if(input_id == "bminputfile"){
                    $.UploadBenchmarkInput("BenchmarkInput", input_id, button_id,file_name);
                }
                else{
                    $.UploadBenchmark("Benchmark", input_id, button_id);
                }
            }
        }
        $.UploadBenchmarkInput = function(form_id, inputField_id, inputButton_id,file_name){
            $.ajax({
                url: '/uploadinputipsfileforall?filetype=BenchmarkInput', 
                type: 'POST',
                data: new FormData($("#BenchmarkInput")[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Upload Completed, file parsed successfully...');
                var input_field = document.getElementById("bminputfile");
                var button = document.getElementById("bench_input");
                button.disabled = true;
                input_field.value = '';
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Upload Failed...');
                var input_field = document.getElementById("inputfile");
                input_field.value = '';
                var button = document.getElementById("bench");
                button.disabled = false;
            });
        }
        $.UploadBenchmark = function(form_id, inputField_id, inputButton_id){
            $.ajax({
                url: '/uploadinputipsfileforall?filetype=Benchmark', 
                type: 'POST',
                data: new FormData($('#Benchmark')[0]), // The form with the file inputs. 'fileform' is the ID for the form we will submit to server for parsing
                processData: false,
                contentType: false                    // Using FormData, no need to process data.
            }).done(function(){
                console.log("Success: File sent!");
                addLine('Upload Completed, file parsed successfully...');
                var input_field = document.getElementById(inputField_id);
                var button = document.getElementById(inputButton_id);
                button.disabled = true;
                input_field.value = '';
                start_bench("Benchmark" , "na");
            }).fail(function(){
                console.log("An error occurred, the file couldn't be sent!");
                addLine('Upload Failed...');
                var input_field = document.getElementById(inputField_id);
                input_field.value = '';
                var button = document.getElementById(inputButton_id);
                button.disabled = true;
            });
        }
        function start_bench(type,filename){
            disableAllButtons(true);
            $.runBenchmark(type,filename)
        }
        $.runBenchmark = function(filetype,benchmark_file){//// Clear IP ajax function to send command and variables to server for processing
            $.ajax({
                url: '/runBenchmark', 
                type: 'GET',
                dataType: "JSON",
                data: {filetype: filetype, benchmark: benchmark_file},
                beforeSend: function(){ 
                    addLine("Starting Benchmark... hold on")
                    loading_icons(true);
                },
                success: function(result){
                    var data = result;
                    var success = true
                    loading_icons(false);
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key == "ERROR"){
                            addLine(data[key]);
                            var success = false;
                            disableAllButtons(false);
                            break;
                        }
                        else{
                            addLine(data[key]);
                        }   
                    }
                    if(success){
                        addLine("warning: Do not refresh this page.")
                        console.log("Checking for start");
                        checkClientState("START");
                    }
                }        
            }); 
        }
        // Clear selected IPs function. Takes a single IP or "all" to unselect all.
        function CallIPCleaner(){
            var ip = document.getElementById('inputform')['ip'].value;
            var inputtype = document.getElementById('inputform')['inputtype'].value;
            var iptype = document.getElementById('inputform')['iptype'].value;
            $.clearIPs(inputtype,ip,iptype);
        }
        $.clearIPs = function(inputtype,ip,iptype){//// Clear IP ajax function to send command and variables to server for processing
            $.ajax({
                url: '/deselectIP', 
                type: 'GET',
                dataType: "JSON",
                data: {inputtype: inputtype, ip: ip, iptype: iptype},
                beforeSend: function(){ 
                    terminal.innerHTML = ""
                    addLine('Modifying Selection...');
                },
                success: function(result){
                    var data = result;
                    for (var key in data){ /// Function return a data in JSON, {SUCCESS: Success Message} or {ERROR:Error message}
                        if (key == "SUCCESS"){
                            addLine(data[key]);
                            $.CheckIPMIs(inputtype,iptype);
                        }
                        else{
                            addLine(data[key]);
                        }
                    }
                }        
            }); 
        }  
        function trigger_hw(){
            $.call_hw_script();
        }
        $.call_hw_script = function(){
            $.ajax({
                url: '/hardware_parser',
                dataType : "JSON",
                type : "GET",
                beforeSend: function(){ ///Write executing to button while sending and retrieving data.
                    console.log("Executing...");
                    var button = document.getElementById("parse_hardware");
                    document.getElementById("parse_hardware").innerHTML = "Loading ...";
                    if(!button.classList.replace("btn-primary","btn-info")) {
                        if(!button.classList.replace("btn-danger", "btn-info")){
                            button.classList.replace("btn-success", "btn-info")
                        }
                    }
                },
                success: function(result){
                    var data = result;
                    var button = document.getElementById("parse_hardware");
                    for(var key in data){
                        console.log(data[key]);
                        if(data[key] == "OK"){
                            button.classList.replace("btn-info","btn-success")
                            document.getElementById("parse_hardware").innerHTML = "INSERT DONE";
                        }
                        else{
                            console.log(key + ": " + data[key]);
                            button.classList.replace("btn-info","btn-danger")
                            document.getElementById("parse_hardware").innerHTML = "INSERT FAILED";
                        } 
                    }
                }
            });
        }
        function trigger_bm(){
            $.call_bm_script();
        }
        $.call_bm_script = function(){
            $.ajax({
                url: '/benchmark_result_parser',
                dataType : "JSON",
                type : "GET",
                beforeSend: function(){ ///Write executing to button while sending and retrieving data.
                    console.log("Executing benchmark parser...");
                    var button = document.getElementById("parse_benchmark");
                    document.getElementById("parse_benchmark").innerHTML = "Loading ...";
                    if(!button.classList.replace("btn-primary","btn-info")) {
                        if(!button.classList.replace("btn-danger", "btn-info")){
                            button.classList.replace("btn-success", "btn-info")
                        }
                    }
                },
                success: function(result){
                    var data = result;
                    var button = document.getElementById("parse_benchmark");                   
                    for(var key in data){
                        console.log(key);
                        console.log(data[key]);
                    }
                    if(data['Insert Status'] == "success"){
                        button.classList.replace("btn-info","btn-success")
                        button.innerHTML = "INSERT DONE";
                    }
                    else{
                        console.log(key + ": " + data[key]);
                        button.classList.replace("btn-info","btn-danger")
                        button.innerHTML = "INSERT FAILED";
                    } 
                }
            });
        }
        function addLine(line) {
            var line = line.replace(reError,"<span class='error'>$&</span>").replace(reSuccess,"<span class='ok'>$&</span>").replace(reInfo,"<span class='info'>$&</span>").replace(reWarning,"<span class='warning'>$&</span>");
            var line = line.replace(reIP,"<span class='ip'>$&</span>");
            terminal.insertAdjacentHTML('beforeend',"<pre> > " +  line + "</pre>" );
            terminal.scrollTop = terminal.scrollHeight;
        } 
        function handleFileSelect(evt) {
            var file = document.getElementById("file").files[0];
            input_field = document.getElementById('file');
            var button = document.getElementById('uploadbutton');
            if (file['name'].includes(".txt")){ //// File type must be in .txt format. This avoids erroneos output when parsing data for valid ips
                if (file) {
                    var fileChecker = true;
                    var reader = new FileReader();
                    console.log(file)
                    reader.readAsText(file, "UTF-8");
                    reader.onload = function (evt) {
                        const inputarray = evt.target.result.split("\n");
                        var output = "";
                        for(i = 0; i < inputarray.length; i++ ){
                            if (inputarray[i].split(",").length != 1) {
                                output = output + '<div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>';
                                fileChecker = false
                                continue;
                            }
                            var iparray = inputarray[i].split(",")[0];
                            if (iparray.length == 0){
                                output = output + ' <div style="color:red">EACH LINE NEEDS ONE IP ADDRESS!</div>'
                                fileChecker = false
                                continue;
                            }
                            else {          
                                if (ValidateIPaddress(iparray)){
                                    output = output + iparray + ' <a style="color:green">VALID IP</a><br>';
                                }
                                else {
                                    output = output + iparray + ' <a style="color:red">INVALID IP</a><br>';
                                    fileChecker = false
                                }
                            }   
                        }
                        if (fileChecker){ ////If valid ips found enable the upload button.
                            button.disabled = false;
                        }
                        else{
                            input_field.value = ''; /// If a single invalid ip, disable upload button
                            button.disabled = true;
                        }
                        output = "<strong>FOUND IPMI IP:<br />" + output;
                        document.getElementById("list").innerHTML = output;
                    }
                    reader.onerror = function (evt) {
                        document.getElementById("list").innerHTML = "error reading file";
                        fileChecker = false
                        input_field.value = '';
                        button.disabled = true;
                    }
                }
            }
            else{
                console.log("Wrong file type, only accept .txt");
                output = ' <div style="color:red"> File format incompatible, please upload .txt file !</div>'
                document.getElementById("list").innerHTML = output;
                fileChecker = false;
                input_field.value = '';
                button.disabled = true;
            }
        }        
        document.getElementById('file').addEventListener('change', handleFileSelect, false);
        function ValidateIPaddress(ipaddress) {
            if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\s?$/.test(ipaddress))
            {
                return (true);
            }
            return (false);
        }
        function handleInputFileSelect(evt) {
            var inputfile = document.getElementById("inputfile").files[0];
            document.getElementById('bench').disabled = true;
            document.getElementById("dict").innerHTML = "";
            var compatible_file = true;
            if (inputfile) {
                var reader = new FileReader();
                reader.readAsText(inputfile, "UTF-8");
                reader.onload = function (evt) {
                    var inputdict= JSON.parse(evt.target.result);
                    var output2 = '<strong class="text-success">Found Configurations as below:</strong><br>';
                    for ( key in inputdict ) {
                        if(key == "category" || key == "Category"){
                            if (inputdict[key] !== "benchmark" &&  inputdict[key] !== "Benchmark"){
                                inputfile.value = "";
                                document.getElementById("dict").innerHTML = "";
                                addLine("error: Only Benchmarks allowed to run. Please select another file");
                                document.getElementById('bench').disabled = true;
                                compatible_file = false;
                                break;
                            }
                        }
                        else{
                            output2 = output2 + '<strong class="text-primary">' + key + ':</strong> ' + inputdict[key] + '<br>';
                        }
                    }
                    if(compatible_file){
                        document.getElementById("dict").innerHTML = output2;
                        document.getElementById('bench').disabled = false;
                        addLine("success: Compatible benchmark selected, run when ready..");
                    }
                }
                reader.onerror = function (evt) {
                    document.getElementById("dict").innerHTML = "error reading file";
                    inputfile.value = "";
                }
            }
        }
        document.getElementById('inputfile').addEventListener('change', handleInputFileSelect, false);
        ////// Session agent for communicating with the LCM server to send session states ////
        window.addEventListener('beforeunload', function (e) {
            var agentForm = new FormData();
            var state = 'inactive'
            agentForm.append("session_state",state)
            agentForm.append("session_guid",session_auth)
            navigator.sendBeacon("/udp_session_handler", agentForm);
        });
        var quickBenchLoaded = false;
        function choose_benchmark(benchmark_name){
            $.LoadQuickBenchmark(benchmark_name);
        }
        $.LoadQuickBenchmark = function(benchmark_name){
            $.ajax({
                url: '/generate_quickBench',
                dataType : "JSON",
                type : "GET",
                data: {'bench': benchmark_name},
                success: function(result){
                    terminal.innerHTML = "";
                    addLine("SUCCESS!!!")
                    addLine("Benchmark loaded successfully")
                    quickBenchLoaded = true;
                    document.getElementById('bench').disabled = false;
                    document.getElementById("dict").innerHTML = "";
                    output = "";
                    for(key in result){
                        addLine(key + ':' + result[key]);
                        output = output + '<strong class="text-primary">' + key + ':</strong> ' + result[key] + '<br>';
                    }
                    addLine("Press the Run Benchmark button to start!");
                    document.getElementById("dict").innerHTML = output;
                }
            });
        }

    </script>
</body>
</html>

